[2019-07-11 12:39] sthaha opened #2 "Create initial operator from openshift/tektoncd-operator"
The openshift-operator is under going a major revamp see: https://github.com/openshift/tektoncd-pipeline-operator/pull/66 . Once the PR merges, let us base the upstream operator on that sans the openshift bits.

[2019-07-15 07:51] sthaha commented on #2
FYI, I have started work on moving https://github.com/openshift/tektoncd-pipeline-operator to this repo

[2019-07-15 09:06] vdemeester opened #3 "Publish Operator on OperatorHub.io"
One we will have our first release, we're gonna want to publish the upstream operator on operatorhub.io. This issue is to track that.

[2019-07-18 20:28] houshengbo commented on #2
@sthaha @vdemeester
I am helping knative/serving-operator with refactoring the source code, so that we use the pkg/controller model as the backbone of the source code, instead of operator-sdk, in order to keep the architecture consistent with knative project.
I see tekton inherits the structure of knative. What is our plan regarding the structure of the operator source code?

FYI: https://github.c

[2019-07-19 00:15] vincent-pli commented on #2
@houshengbo
I saw that `pr`, great work.
So the reason to adopt pkg/controller is only keeping consistent with Knative, besides that  is there any extra benefit?

[2019-07-19 14:12] houshengbo commented on #2
@vincent-pli It is hard for me now to demonstrate which technology is more preferable and prevail in future. One thing I think is good for an open source project is that it has lower barrier for existing and new developers.
For folks, who have been working in Tekton(even knative), they have known the existing structure, it will easy for them to contribute here without hassle. For new contributors

[2019-07-22 12:38] sthaha commented on #2
@houshengbo you raise a salient point about lowering the barrier to entry but some of the advantages that operator-sdk provides us is
- ability to locally standup the operator
- ability to run tests locally
- to easily upgrade between versions of operator-sdk (e.g: moving from dep to go.mod 0.7 -> 0.9 was easy)
- Ability to generate all olm releated artifacts (csv especially)

So by moving to `pkg

[2019-07-23 13:50] houshengbo commented on #2
@sthaha As I said, I am unable argue which technology is better than the other, but what you listed can also be covered by knative pkg/controller.
* Ability to standup the operator: like in knative/serving-operator, we are able to launch the operator locally already.
* Ability to run test locally: we need to conform the structure the same way as any other knative. After implementing release.sh und

[2019-07-23 17:28] vdemeester commented on #2
I completely agree with that :angel: :sweat_smile:

[2019-07-25 14:31] sthaha commented on #2
neat! and I guess we still can make use of `operator-sdk` to generate `CSV` and not have to fiddle around with yaml by hand

:) like I said, I am not attached at an api. I guess the point of my question was to ensure that we at the very least think about what we are gaining versus losing and not just adopt `pkg/controller` blindly
for the sake of consistency

And I hope it is a one time cost 🤞

[2019-07-27 16:28] fgiloux commented on #2
@houshengbo as a developer new to knative and tektoncd I have to say that not using the well documented [kubebuilder](https://book.kubebuilder.io/) in favour of the undocumented knative way of creating controllers makes the barrier significantly higher. I may have missed something but at this stage in my learn process I feel that the argument may be reverted.

[2019-08-01 17:07] houshengbo commented on #2
@fgiloux No matter what we choose for operator, operator-sdk, kubebuilder, knative/pkg, etc, it does not ease down any barrier for u to join the community.
"In favour of the undocumented knative way", as you said, other knative and tekton projects, have already become like that. If you join this community, we have overcome that ANYWAY. After that, there is no big "hurdle" ANY MORE, if you continue

[2019-08-02 04:32] sthaha commented on #2
@houshengbo please don't get agitated about this X vs Y argument, it doesn't help us with the cause.

In case you aren't aware, use of  CAPS is akin to shouting and we all can be civil and don't have to intimidate to get out points across.

@fgiloux makes a point which is objectively true i.e. kubebuilder is better documented than `knative/pkg` but that can be addressed by improving the documentat

[2019-08-02 05:18] fgiloux commented on #2
@houshengbo thanks for your input. I have started looking at knative code.
@sthaha  thanks for reinforcing the point on documentation. I will leave it here as I don't want to divert this issue from its original intent.
Other things worth considering when choosing the tools to use:
- where is the K8 community moving to: kubebuilder is backed by the SIG API machinery  and the Operator SDK has receiv

[2019-08-06 11:34] sthaha commented on #2
I am closing this since initial version has been merged. Re: https://github.com/tektoncd/operator/issues/2#issuecomment-512974721 lets track that in a new issue.

[2019-08-06 11:34] #2 closed

[2019-08-07 16:11] houshengbo opened #10 "Write a comprehensive doc regarding the installation of operator"
# Expected Behavior
We should have a README.md documenting the process to setup the operator in any cluster.

# Actual Behavior
There is None

# Steps to Reproduce the Problem

1. Go to the main page of this repo. Only a brief introduction so far.

# Additional Info

[2019-08-07 18:19] houshengbo opened #11 "Add ko support to build & publish the image, even install the operator"
# Expected Behavior
When we run the command `ko apply -f config`, operator should be installed from the source code.

ko should be the major command to build, publish, and install tekton projects.

# Actual Behavior
We do not support. We rely on operator sdk to do everything.

# Steps to Reproduce the Problem

1. No support. No command available to run.

# Additional Info

[2019-08-07 18:23] houshengbo opened #12 "Identify the scenarios of integration tests, and implement them"
# Expected Behavior
We need to identify the major use cases for integration tests to verify. For example, what are the CRs we need to create? What are the related resources to be created? Are there any resources able to restore themselves? Will all the resources be removed, when the CR is gone?

This should be a crucial step to setup ASAP, since we cannot rely on manual verification for each PR.

[2019-08-07 18:29] houshengbo opened #13 "Refactor the backbone of operator from controller-runtime based to knative/pkg based"
# Expected Behavior
As we have a long discussion in the issue https://github.com/tektoncd/operator/issues/1, the benefits to have a consistent architecture among all tekton project will pay back in future, in terms of shifting our efforts from one tekton project to another.

A similar project called serving-operator is undertaking the same transition now. I can move on with this transition, if the

[2019-08-08 02:09] sthaha commented on #13
Could you please add an acceptance criteria that `operator-sdk` tooling can still be used?

-   [ ] `operator-sdk` tooling can still be used after the refactoring is done to allow for generation of CRD, the zz_deepcopy.go
- [ ] operator sdk can still be used for running `e2e` tests
- [ ] operator sdk can be used for generating CSV

@nikhil-thomas please add to this if I have missed any.

@housheng

[2019-08-08 03:45] houshengbo commented on #13
@sthaha We will eventually get rid of the dependency on operator-sdk. CRD can be reused and generated by any tool you like. operator-sdk will not be a must for operator.
Regarding the generation of other code, we will use script in k8s.io/code-generator to generate deepcopy,client,informer,lister, and use script under knative.dev/pkg to generate injection. All the generated code is put under clien

[2019-08-08 06:40] sthaha commented on #13
I am fine with changing/standarising on tools we all use as along as it doesn't make our life any more harder than needed when releasing to operatorhub.io

Seem to me like the biggest pain/hurdle both @nikhil-thomas and I came across (based on our experience publish downstream openshift-operator), so could this refactor wait until they have figured out the step involved to publish to operatorhub.i

[2019-08-08 08:42] vincent-pli commented on #13
Whatever the decision is, discussion and implementation will cost much time (I saw same thing in `knative serving operator` is still not complete), I think we need make this project running first, then do the enhancement, some stuff is still not ready, such as README ... 😄

[2019-08-08 17:01] houshengbo commented on #13
@vincent-pli that's why I opened other issues, like integration tests setup, so that we need to safeguard the functionalities of operator.

[2019-08-08 17:29] houshengbo commented on #13
@sthaha Is the publish process different based on what framework we use for the operator project? To me, it sounds separate and independent process. Correct?

[2019-08-09 01:34] sthaha commented on #13
@houshengbo, you are right, publishing to operatorhub.io is a simple PR with the `CSV` see: https://github.com/operator-framework/community-operators/tree/master/community-operators/openshift-pipelines-operator

But getting the PR to pass isn't easy .. especially with the operator scorecard getting on your way.

So, where operator-sdk really helps is with
- generation of the crd (pretty sure it us

[2019-08-09 01:34] sthaha commented on #13
Patches welcome :D

[2019-08-09 08:09] vincent-pli opened #16 "Build an official image for Operator"
# Expected Behavior
End user do not need build image themself if no specific requirement.
# Actual Behavior
Must build image for Operator
# Additional Info
As @nikhil-thomas comment here: https://github.com/tektoncd/operator/pull/15#discussion_r312363208
I think we need supply a official image for end user before we turn to `ko` (maybe)

[2019-08-09 08:37] vdemeester commented on #16
@vincent-pli @nikhil-thomas I am guessing we should have a nightly build then (at first)

[2019-08-09 08:59] nikhil-thomas commented on #16
sounds good :+1:

[2019-08-09 13:35] nikhil-thomas commented on #13
@houshengbo @vdemeester @sthaha

I see merit in this statement. However, we should not forget what exactly we are doing here. We are embedding repetitive human-operator logic into a controller (not building the controller). Operator-sdk takes care of all the plumbing and gives us a well-defined space to plugin in our custom reconcile logic. From my perspective it is convenient and the development

[2019-08-09 15:25] houshengbo commented on #16
Do we build with operator-sdk or with the ko command as other tekton projects?
I can work on https://github.com/tektoncd/operator/issues/11 to make sure we support ko.

[2019-08-09 18:11] houshengbo opened #17 "Create a directory named vendor for all the dependencies"
We need to have a script, e.g. ./hack/update-deps.sh to update/generate the dependecies and save them under vendor directory.

This is a good step for code compiling on local machines after imported into IDEs.

[2019-08-10 06:41] houshengbo opened #22 "Use the existing test framework for integration tests"
As I mentioned on PR #21, I suggest we setup the same test framework as we use in pipeline, e.g. create a file like https://github.com/tektoncd/pipeline/blob/master/test/init_test.go#L47 to initialize the tests.

Then we are able to run the integration test with `go_test_e2e -timeout=20m ./test || failed=1`, as in https://github.com/tektoncd/pipeline/blob/master/test/e2e-tests.sh#L34.

[2019-08-10 12:03] houshengbo commented on #12
One scenario I can list here is to create the CR Config, and check if it is installed. Then, delete it, to see if it is removed.

[2019-08-11 01:43] houshengbo commented on #12
/assign

[2019-08-12 11:56] nikhil-thomas commented on #22
what is the advantage in doing so?

why can't we run tests using `operator-sdk test` command?

[2019-08-13 17:32] houshengbo commented on #13
**Why is the operator put under Tekton community?**
It is a Tekton project. If not, we can launch the operator effort anywhere else except Tekton, with having to consider any nature of being a Tekton project.

**How to release the operator?**
Shouldn't we release the image, the source code, or any binaries the same way as Tekton pipeline, or any other project? If not, we do not need to launch the

[2019-08-13 17:40] houshengbo commented on #13
**Differences between controller-runtime based controller and knative/pkg based controller?**
**Code generation:**
controller-runtime: both operator-sdk and kubebuilder generate code of controller-runtime based controller, api, crds, deepcopy, etc.
knative/pkg: api, crds can be reused, or generated by any tool. Clients are generated by k8s.io/code-generator including deepcopy,client,informer,liste

[2019-08-13 17:54] vdemeester commented on #13
I do not fully agree with that. Let's question ourselves : what is the way we release the tektoncd/pipeline project the same as other tektoncd project ? The answer is **no**. The cli doesn't need to support `ko` at all as it's only client-side.

More importantly, being under the tektoncd organization doesn't mean *all* the repository need to share the same tooling for things. It's a *nice to have*

[2019-08-13 18:10] houshengbo commented on #13
Integration tests should definitely be addressed as soon as possible. Does everyone agree on this first??

I really hope we can enable **ko support**(because we can build and install operator in one single command, without worrying about image name and changing the image path), **without interrupting the operator-sdk build process**. In Prow job of integration test, we can benefit from ko. Is that

[2019-08-14 08:21] nikhil-thomas commented on #13
I repeat we should first focus on making the operator more useful first. We can definitely add integrations tests. I don't understand how operator-sdk is stopping us from that.

ko is useful, `operator-sdk up local` command is equally useful.
It runs the controller out-of-cluster and aids with fast and efficient development. When it comes to tests, (operator-sdk) lets run tests with or without ima

[2019-08-14 08:48] anxinyf commented on #16
I cannot build operator image using build/Dockerfile via **docker build**  :
`build/_output/bin/operator: no such file or directory`

Does anyone else have such a problem?

[2019-08-14 14:12] houshengbo commented on #13
I did not say operator-sdk stop people from doing anything.

If we have the `pain points` as identified, open issue or issues. Or ask more people/users to join the community and try out the operator.

What I propose to add integration tests, enable ko support, etc, so far have nothing to do about any major change. It just enable another way to build and test and operator.

If we think it is good t

[2019-08-15 22:05] houshengbo opened #25 "Pipeline deployment deletion can not kick off the reconcile function, leading to no deployment recreation"
# Expected Behavior
pipeline deployment deletion should kick off reconcile func, so that the pipeline deployment can be recreated.

# Actual Behavior
no recreation of deployment, though deployment is registered:
[code]

# Steps to Reproduce the Problem

1. install the operator, remove the either deployment of the pipeline
2. pipeline deployment can not be revived.
3. reconcile func is not called.

[2019-08-15 22:06] houshengbo commented on #25
@nikhil-thomas I have not found out the reason. Do you have any clue?

[2019-08-19 06:07] nikhil-thomas commented on #25
At present, the operator doesnot  have that logic built into it.

In the current implemetation, the deployment deletion event will be detected by the reconcile function, but it will be ignored either here: https://github.com/tektoncd/operator/blob/2273b8212c569d0683113b70c220b840ab6598f6/pkg/controller/config/config_controller.go#L160
or
here:
https://github.com/tektoncd/operator/blob/2273b8212c56

[2019-08-19 06:09] nikhil-thomas commented on #25
we need to add the `deployment deleted` reconcile logic to the reconciler.

[2019-08-19 06:19] nikhil-thomas commented on #16
@anxinyf
are you using the command:
[code]

[2019-08-19 06:53] vincent-pli commented on #25
@nikhil-thomas
I think the reason is not only you mentioned.
`controller-runtime` is still not support `cluster-scope` owner in `v0.1.12` (We adopted), let alone to `v0.1.10` (operator sdk v0.9 adopted).
See the link: https://github.com/kubernetes-sigs/controller-runtime/pull/274

I try to use  `controller-runtime v0.2.0-xx` but get issue raised from `operator sdk`
[code]

So I guess to resolve th

[2019-08-19 07:30] vincent-pli commented on #16
@vdemeester
How to create a nightly build, any guide?

[2019-08-19 14:06] houshengbo commented on #25
@nikhil-thomas Here is what I found: if the reason is due to the IGNORE logic, then we should have at least the log message "" shows up, as "log.Info("reconciling config change")", but when I deleted the deployment, this message did not pop up in the log, which means the reconcile was not kicked off by the deployment deletion.

@vincent-pli I was guessing it might be the reason you mentioned(servi

[2019-08-19 14:36] nikhil-thomas commented on #25
@vincent-pli, @houshengbo,  thank you for catching it and filing an issue in operator-sdk project. I have raised a query in `https://coreos.slack.com` `forum-operator-fw`. Let see what they say and then we can make a decision.

[2019-08-19 14:37] nikhil-thomas commented on #25
i got a reply from operator-sdk team

[2019-08-19 14:40] nikhil-thomas commented on #25
and

https://coreos.slack.com/archives/C3VS0LV41/p1566225013185700

[2019-08-19 14:44] nikhil-thomas commented on #25
in my opinion, let us wait for the operator-sdk update. it should be an simple change for us.

@vdemeester @sthaha

[2019-08-19 15:07] houshengbo commented on #17
As I mentioned in the comment: https://github.com/tektoncd/operator/pull/23#issuecomment-521335139, operator-sdk command cannot find the dependencies under the folder vendor/.

I verified it locally with the version 0.9.0 of operator-sdk, it did not find the modules under vendor, when I set `GOFLAGS=-mod=vendor`.

[2019-08-19 16:57] houshengbo commented on #17
OK, the vendor generated under mac does not work under ubuntu.

[2019-08-19 19:55] houshengbo commented on #17
It is something wrong with the file vendor/modules.txt.

This is what I have tested: I backup the vendor as vendor_backup in prow job, and used the prow job to generate the new vendor. I only copy the file vendor/modules.txt generated by the prow job and cp it to the vendor_backup folder. Remove the vendor folder and revert vendor_backup to vendor. After all the above steps are done, the openrator

[2019-08-20 05:44] nikhil-thomas commented on #25
@hrishin

[2019-08-20 07:33] sthaha commented on #25
@nikhil-thomas @houshengbo @vincent-pli

Please help me understand this better. Here is the test that I ran
1. setup operator
2. let it install pipeline
3. delete the pipeline

Noticed the reconcile does indeed get called but it is ignored

[code]

Is this different to what you see?

[2019-08-20 07:37] nikhil-thomas commented on #25
@sthaha
https://github.com/tektoncd/operator/issues/25#issue-481358787

did you try deleting either the tekton-pipeline-controller or tekton-pipeline-webhook deployments

[2019-08-20 07:39] sthaha commented on #17
@houshengbo with `go mod` wouldn't the packages get caches under `$GOPATH/pkg/mod` the first time you build and will be reused, i.e. wouldn't download it again which makes the need for storing every dependency under `vendor` unnecessary?

[2019-08-20 07:47] sthaha commented on #25
of course  :)

[2019-08-20 09:05] vincent-pli commented on #25
@sthaha
The log is not about `deployment` delete.
see the content:
[code]
It's about a `cluster` object in namespace `tekton-pipelines`

[2019-08-20 09:07] nikhil-thomas commented on #25
@houshengbo @vincent-pli
are you guys using the `--namespace` flag

in `operator-sdk up local --namespace=""`
without it operator-sdk takes current namespace as watch-namespace

ref: https://github.com/operator-framework/operator-sdk/blob/640171cc31c8a442cf8d669603ffc1b62f5d6b44/cmd/operator-sdk/up/local.go#L84

[2019-08-20 09:16] nikhil-thomas commented on #25
@vincent-pli

That is what is expected. Operator-sdk give you a referece to the `primary resource`
ref: https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md#reconcile-loop

From a kubernetes stand point it makes sense (`Edge-Triggered but Level-Driven`)

Edge-Triggered: we get a notification that something has happened
Level-Driven: we have to query the api (lister) and

[2019-08-20 09:19] nikhil-thomas commented on #25
@vincent-pli, @houshengbo
could you guys confirm whether the deployment events are not triggering a reconcile loop
when run using
`operator-sdk up local --namespace=""`

[2019-08-20 09:22] vincent-pli commented on #25
I use the standard approach, install `operator` in k8s cluster.
I can try `operator-sdk up local --namespace=""` if necessary, but I think the issue is about the issue in `Operator sdk` i mentioned upper, isn't it?

[2019-08-20 11:00] nikhil-thomas commented on #25
@vincent-pli

in the context of this issue, the reconcile will be triggered if we use the `--namespace=""` flag. The reason being when the `--namespace` flag is not set operator-sdk uses `current` namespace` from kubeconfig.

[code]

When we set `--namespace="", the operator watches all namespaces
[code]

We do this while development using `up local` command
When we run the operator with an image

[2019-08-20 11:01] nikhil-thomas commented on #25
i have pushed a fix here:
https://github.com/tektoncd/operator/pull/27

[2019-08-20 13:03] vincent-pli commented on #25
@nikhil-thomas
Great work, thanks👍

[2019-08-20 14:13] houshengbo commented on #17
@sthaha It is downloaded under $GOPATH/pkg/mod, but it is not imported in some IDEs.
Once they are put under the dir vendor, they get automatically imported.

[2019-08-20 19:25] nikhil-thomas commented on #25
@houshengbo shall we close this issue

[2019-08-20 22:07] houshengbo opened #29 "Cannot designate PR to build nightly image"
# Expected Behavior
We should build the the nightly image based on an existing commit in master. We should remove this line: https://github.com/tektoncd/operator/blob/master/test/presubmit-tests.sh#L57.

# Actual Behavior
We build the the nightly image on every pending PR.

# Steps to Reproduce the Problem

1. Open a PR
2. The image gcr.io/tekton-nightly/tektoncd-operator is built with https://git

[2019-08-21 08:57] vdemeester commented on #29
@houshengbo the nightly would be on postsubmit (aka merge on master), so this line in `presubmit-tests.sh` would still be needed as it builds the image from the PR changes (if any).

But having a nightly image would be more than nice :angel:

[2019-08-21 15:47] houshengbo commented on #29
@vdemeester @nikhil-thomas @sthaha
When we run the command along operator-sdk build gcr.io/tekton-nightly/tektoncd-operator, do we push the image into gcr.io/tekton-nightly or not? (I thought we did?)

[2019-08-21 15:51] houshengbo commented on #25
@nikhil-thomas I will verify it today. Thx.

[2019-08-21 16:02] houshengbo commented on #10
We have already fixed this issue with adding readme.

[2019-08-21 16:02] #10 closed

[2019-08-21 18:57] houshengbo commented on #25
We close it, since it has been resolved. Next, we should make sure the deployment can be recreated after deletion.

[2019-08-21 18:57] #25 closed

[2019-08-21 18:59] houshengbo opened #30 "Recreate the deployment of pipelines, when they are deleted."
This is a valid scenario as we identify for the operator. So far, the reconcile func is kicked-off by being ignored, if deployment is deleted, but we need to implement this feature.

[2019-08-21 21:50] #17 closed

[2019-08-22 00:45] vincent-pli commented on #29
No, need push manually.

[2019-08-22 16:44] houshengbo opened #31 "err := r.client.Get(context.TODO(), req.NamespacedName, res) will not get config cluster, since it is still cluster based"
I am not sure if this is the bug with the client of controller-runtime, or it is a race condition in operator.

The config get function at
https://github.com/tektoncd/operator/blob/master/pkg/controller/config/config_controller.go#L166
will return NOT FOUND error, even if the CR was created with confirmation.

We need to remove ignoreRequest, otherwise we cannot do future action if pipeline deploy

[2019-08-23 01:38] vincent-pli commented on #31
@houshengbo
Correct, that's a bug of `controller-runtime`, exactly I mentioned in another issue:
kubernetes-sigs/controller-runtime#274

I want to explained more about the issue:
In our case, we `watch` two kinds of resource:
- `Config`: cluster scope
- `Deployment`: namespace scope and owner by `Config`

Notice, we watch `Config` by `EnqueueRequestForObject` and
watch `Deployment` by `EnqueueRequ

[2019-08-23 01:53] vincent-pli opened #33 "Discussion: pick up CRD name more make sense than "Config""
When I install `Tekton/operator` on my private k8s cluster product, I feel a little uncomfortable, since a `cluster scope` and named `Config` stuff make people confuse, they think the resource is a globe configuration for the whole k8s cluster.

So, I think could we change the name, I checked `Knative/serving-operator`, they named it `KnativeServing` , so could we chose `Tekton` or `TektonPipeline

[2019-08-23 01:58] #31 closed

[2019-08-23 21:52] houshengbo opened #34 "The issue of `deployOperator` in the test case with operator-sdk"
I found an issue with the operator-sdk we are using for tekton operator, when I am working on the PR https://github.com/tektoncd/operator/pull/24.

The reconcile function can be kicked-off every time there is change with CD or deployment, if we launch the operator locally, with the function `deployOperator` in the test case at https://github.com/tektoncd/operator/blob/master/test/testgroups/cluste

[2019-08-23 21:53] houshengbo commented on #34
@sthaha @nikhil-thomas PLZ pay attention to this.

[2019-08-26 07:36] vincent-pli commented on #33
@vdemeester @nikhil-thomas @sthaha
What do you think?

[2019-08-26 13:22] sthaha commented on #33
The reason for naming it as kind `Config` and to mandate the name `cluster` is imply that it is the **cluster wide configuration** for the operator.  It is indeed the global configuration for the `Tekton` in that cluster and would be be case until Tekton supports multi-tenancy.

e.g. what that is the global / clusterwide configuration on tekton operator
` kubectl get config.operator.tekton.dev` ->

[2019-08-27 00:16] vincent-pli commented on #33
Thanks @sthaha
Actually people use:
`kubectl get Config` not the verbose style upper.
So the `Config` and `cluster` seems too much general.
`kubectl get TektonPipeline` is better I think.

[2019-08-27 04:20] houshengbo opened #40 "export GO111MODULE=on makes `ko apply` support extremely slow"
To enable `ko apply` support to build the image, and run the operator, we have to get rid of `export GO111MODULE=on` in the scripts, since it will severely slow down the image build and operator deployment, and even make the pod fail to launch before timeout.

[2019-08-27 16:34] houshengbo opened #41 "log of the pod which failed to run in the prow job for `ko apply -f config/`"
[code]

[2019-08-28 05:45] nikhil-thomas commented on #34
could you check the value of `WATCH_NAMESPACE` env during test. It should be "".
`WATCH_NAMESPACE=""` means the controller will watch all namespaces for changes.

as we are setting the the environment variable in the deployment manifest
https://github.com/tektoncd/operator/blob/588e1d0ff3f16b1454c378aaed8767312caf3598/deploy/operator.yaml#L24

[2019-08-28 05:50] nikhil-thomas commented on #40
Good find. It makes sense
ref: https://github.com/operator-framework/operator-sdk/blob/447f0b776ef1be677d6978f1094115555a5f9731/internal/util/projutil/exec.go#L121

[2019-09-04 15:39] houshengbo commented on #13
@vincent-pli @sthaha @nikhil-thomas @vdemeester
Knative serving operator has accomplished the structural transition from controller-runtime based model to knative/pkg based model: https://github.com/knative/serving-operator/pull/146.

[2019-09-05 05:12] nikhil-thomas commented on #13
Great :+1:
Did they publish an operator to operatorhub.io after the merge

[2019-09-05 14:35] houshengbo commented on #13
That has been opened as an issue to be resolved.

[2019-10-23 13:58] cmoulliard opened #50 "Issue: Missing or invalid Task test/s2i-buildah-push: translating Build to Pod: serviceaccounts"
## Issue

I'm getting a very strange `TaskRun` message --> see

[code]

even if the serviceaccount exists like the task and taskruns

https://gist.github.com/cmoulliard/28cede49e8a2ea69531aa814ded10307#file-gistfile1-txt-L67

[2019-10-23 20:20] ImJasonH commented on #40
Is this still the case? `ko` should support Go modules fairly efficiently, if it doesn't we should investigate it as a bug in `ko`.

[2019-10-23 20:23] ImJasonH opened #51 "README says 0.5.0 is installed?"
# Expected Behavior

Installing the operator installs a recent Tekton (based on https://github.com/tektoncd/operator/commit/1ffa6513820d3d503464cae397c89d249e3b5d0d that's 0.7.0?), and that version is documented upfront.

...or the specific version _isn't_ documented upfront, and documentation just says "a recent Tekton will be installed"

# Actual Behavior

README.md says:

[2019-10-24 00:22] vincent-pli commented on #51
@ImJasonH
Thanks, I think we need correct the README.md after version upgrade.

[2019-10-24 00:41] vincent-pli commented on #50
@cmoulliard
I guess you post issue in wrong place, should in `pipeline`.
anyway, the error is complain the `serviceaccount: build-bot` is not found, when `pipeline` try to create `pod` based your `task` definition.

[2019-10-24 01:59] sthaha commented on #50
@cmoulliard could you please file this against [pipeline](https://github.com/tektoncd/pipeline/issues/new)

[2019-10-24 01:59] #50 closed

[2019-10-24 14:54] houshengbo commented on #40
@ImJasonH If we set GO111MODULE=on before running kp apply command, all the dependencies will be pulled, which will surely make the process low down.

[2019-10-25 09:15] cmoulliard commented on #50
Ticket created under pipeline project

[2019-10-30 03:57] nikhil-thomas commented on #51
fixed in https://github.com/tektoncd/operator/pull/52

[2019-10-30 03:57] #51 closed

[2019-11-25 08:07] utherp0 opened #53 "When creating a pipeline with a condition that has missing attributes the pipeline never progresses but no error is given"
# Expected Behavior
When starting a pipelinerun where the condition contains missing information, such as a parameter type field, the status of the pipelinerun via the Operator should be set to failed

# Actual Behavior

Pipelinerun status never gets updated, user has to examine the Operator Logs to get information on Condition processing failure

# Steps to Reproduce the Problem

1. Create a cond

[2019-11-25 09:09] vdemeester commented on #53
@utherp0 thanks for the issue. That said, I think this issue should be on [`tektoncd/pipeline`](https://github.com/tektoncd/pipeline) instead of here.

/kind bug
/cc @dibyom

[2019-11-25 09:15] utherp0 commented on #53
Should it be on both? It's a reaction to the Pipeline but the bug is in the Operator?

[2019-11-25 09:21] vdemeester commented on #53
@utherp0 the operator is only responsible for installing and upgrading tektoncd/pipeline (and other project potentially). The rest is in the different project of the `tektoncd` org. The Task, TaskRun, Condition, Pipeline, PipelineRun and PipelineResource object are all handled by tektoncd/pipeline (the admission controller and the "reconciler" controller are there, not in the operator project).

[2019-11-25 09:46] utherp0 commented on #53
Ahh, makes sense - want me to close this and re-open it in pipeline?

[2019-11-25 09:50] vdemeester commented on #53
@utherp0 I think I can transfer the issue, let me try :sweat_smile:

[2019-11-27 07:36] zhangtbj opened #55 "The tekton-pipelines namespace is not deleted after delete the config CR"
# Expected Behavior
The tekton-pipelines namespace is deleted after delete the config CR

# Actual Behavior
The tekton-pipelines namespace is not deleted after delete the config CR

# Steps to Reproduce the Problem
1. Start the tekton operator
2. Apply the config cr
3. delete the config cr

# Additional Info
All resources in the tekton-pipelines namespace are deleted. But the namespace is still th

[2019-11-27 07:39] zhangtbj opened #56 "Received may Failed to list *unstructured.Unstructured error in operator pod log"
# Expected Behavior
No related error log.

# Actual Behavior
there is no error log when using local debug mode. But when I generated operator image and deploy officially, I received many error logs like:
[code]

# Steps to Reproduce the Problem

1. Build and push image to docker hub
2. modify the operator yml to use this image
3. kubectl apply and check log: `kubectl log <operator pod> -n tekton-o

[2019-11-27 07:42] zhangtbj opened #57 "Change tektonVersion to a command flag so that user can choose the tekton verision"
# Expected Behavior
User can use `--version v0.7.0` to use different tekton version to install

# Actual Behavior
`tektonVersion   = "v0.8.0"` version is hardcode in config controller

User cannot choose the version, just use the default `v0.8.0` version now.

It is better to set it a parameter. then we can use it for the upgrade or future version maintain

[2019-11-27 08:10] vincent-pli commented on #55
@zhangtbj
The `tekton-pipelines` will be deleted when `config` cr deleted, just make sure the ns: `tekton-pipelines` is created by `Operator` rather than created manually.

[2019-11-27 08:19] vincent-pli commented on #57
@zhangtbj
You can use
[code]
to achieve this, it's more flexible than just `version`, could handle the case that user want to use arbitrary version.

[2019-11-27 08:19] zhangtbj commented on #55
Oh cool, @vincent-pli ,

Yes, it is deleted if the namespace is created by the operator.

Thanks a lot!

[2019-11-27 08:19] #55 closed

[2019-11-27 08:22] zhangtbj commented on #57
Thanks @vincent-pli !

So is this arg `resource-dir` works for upgrade?

For example I installed the tekton version `v0.7.0` by using operator with `- --resource-dir=deploy/resources/v0.7.0`. Then I would like to upgrade the version to `v0.8.0`.
What should I do next?

Restart the operator and reset the parameter to `- --resource-dir=deploy/resources/v0.8.0` ?

[2019-11-27 08:41] vincent-pli commented on #57
I'm afraid it's not work, you need do the uninstall and re-install :)

[2019-11-27 08:45] zhangtbj commented on #57
em.... :(

I am still not clear about the upgrade path.

Hope you can have some doc to show how to do it in future.

Anyway, thanks a lot @vincent-pli :)

[2019-11-27 10:33] zhangtbj commented on #57
Hi @vincent-pli ,

I re-opened this issue again.

Right now, the config cr only has one spec parameter `TargetNamespace`:
https://github.com/tektoncd/operator/blob/master/pkg/apis/operator/v1alpha1/config_types.go#L11

I am not sure why you want to use the operator execution parameter to set the release version.

But only set the release version in the CRD spec definition.

I think if you add a ne

[2019-11-28 00:50] vincent-pli commented on #57
hum, yes, it's make sense in upgrade scenario.
Seems we have not consider too much for the upgrade.
/cc @vdemeester @sthaha @nikhil-thomas @houshengbo

[2019-11-28 01:35] sthaha commented on #57
We should discuss this in more detail in the WG meeting.

IMHO, `--version` or `--resourcedir` is useful only in dev environments and not in production where the expectation is that the operator is installed through `OLM` (operatorhub.io) (sidenote: we need to ship this operator to operatorhub.io 🙏)

So in the case where user installs pipeline through operator, the k8s way to install a different v

[2019-11-28 02:14] zhangtbj commented on #57
Thanks all!

Please document somewhere that other people can know and review this requirement design.

Thanks a lot!

[2019-12-09 07:28] gyliu513 opened #60 "How to upgrade/downgrade CR for operator"
I found that the opertor is creating CR at https://github.com/tektoncd/operator/blob/e8cf87e/pkg/controller/config/config_controller.go#L121-L124 , so my question is how to handle the case of upgrade or downgrade for the CR in the operator?

FYI @clyang82 @vincent-pli @houshengbo @chenzhiwei

[2019-12-09 09:13] vincent-pli commented on #60
Based on current implements the original `cr` will be reused,
after installation it will be mark as new version in `status`, like this:
[code]
I have no idea if `CRD` changed, for example the `version` change to `v1beta1`, I guess the original `cr` will be leave there and new `cr` will be create.

@sthaha Could OLM help on this part?

[2020-01-30 18:34] davidkarlsen opened #66 "Tekton operator security improvements"
# Expected Behavior

1. operator creates tekton-pipelines-controller and tekton-pipelines-webhook deployments, but it should be possible to define a custom registry for the images (to use in air-gap envs)
2. securityContext for the deployments should be configurable, as of now they are `{}` - which means root, privileged, etc

# Actual Behavior

# Steps to Reproduce the Problem

1. install the sta

[2020-01-30 18:38] vdemeester commented on #66
/kind feature

[2020-02-05 00:25] vincent-pli commented on #66
@davidkarlsen
So, these are two requirements.

For the first one: `custom registry`, I personal prefer the design in [knative/serving-operator](https://github.com/knative/serving-operator/blob/5897cd8d8238eebfbeed7305b3e86a462f716b35/pkg/apis/serving/v1alpha1/knativeserving_types.go#L85), they defined a map to replace related image url in the `yaml`s, also consider the `pullsecret`, I think we can

[2020-02-05 04:07] sthaha commented on #66
I agree, it will nice to use a config-map that we can use to `manifest.Transform` images that matches a regex to a destination image.

[2020-02-25 06:08] addozhang commented on #56
same here

[2020-02-25 06:38] addozhang opened #70 "unable to deploy dashboard due to rabc issue"
# Expected Behavior

Dashbord deployed via `kubectl apply -f deploy/crds/operator_v1alpha1_addon_dashboard_cr.yaml`

# Actual Behavior

Deploy failed.

# Steps to Reproduce the Problem

1. Build operator
2. Update image in operator.yaml
3. Install tekton pipeline success.
4. Intall dashboard via`kubectl apply -f deploy/crds/operator_v1alpha1_addon_dashboard_cr.yaml`

# Additional Info

Check `tekt

[2020-02-25 07:40] vdemeester commented on #56
/kind bug
/cc @nikhil-thomas

[2020-02-25 07:41] vdemeester commented on #70
/kind bug

[2020-02-26 14:27] vincent-pli commented on #56
I think this issue is from `operator-sdk`, seems still not resolve:
https://github.com/operator-framework/operator-sdk/issues/1858

[2020-03-18 00:11] sbose78 opened #74 "Create a default 'pipeline' service account to run Tasks"
Expected behaviour:
When the operator setups up the tekton objects, I would expect a `pipeline` service account in every namespace that I could use to run my tasks instead of having to create one explicitly.

[2020-03-18 02:56] sbose78 commented on #3
I'll need this for the upstream Build v2 operator dependency resolution :)

[2020-03-18 09:58] vdemeester commented on #74
/kind feature

[2020-03-18 23:55] vincent-pli commented on #74
@sbose78
Which `sa` do you mean? the `sa` in namespace where pipeline controller lives?
Every namespace? what about new creating ones?

[2020-03-19 03:16] sbose78 commented on #74
@vincent-pli Just like every namespace in Kubernetes has a service account called `default` , I'm proposing we add a service account in every namespace called `pipeline` which as per our guidance could be used to run TasksRuns.

[2020-03-27 01:50] vincent-pli commented on #56
Fixed

[2020-03-27 01:50] #56 closed

[2020-04-14 17:47] timmyers commented on #16
I'm willing to try and help implement this.  As I understand a new job would need to be added to the prow config here https://github.com/tektoncd/plumbing/blob/master/prow/config.yaml#L539.

[2020-04-15 00:12] vincent-pli commented on #16
Thanks
/assign @timmyers

[2020-04-16 12:28] eddycharly commented on #16
@timmyers need help with this ?

[2020-04-16 15:07] timmyers commented on #16
Help is always appreciated!  After looking more through the https://github.com/tektoncd/plumbing repo, I'm not sure if this should be done as a prow build, or as part of the tekton pipelines.

I started writing a `test/publish-images.sh`, but I'm also not sure what should be used for the nightly tag, since that normally seems to be populated by `ko`.

https://gist.github.com/timmyers/0fccc968d90e1

[2020-04-16 15:35] eddycharly commented on #16
I don’t know how Tekton pipelines are triggered, is this done outside of prow ?

I guess, for a nightly tagging with the date is a good candidate.

One concern is the need for docker, operator sdk supports buildah, it’s a bit tricky to get it to run in a container but definitely doable.

[2020-04-16 15:44] eddycharly commented on #16
Something along those lines, running inside `quay.io/buildah/stable`:

[code]

[2020-04-24 11:48] Dileep1314 commented on #34
TR

[2020-04-24 11:48] Dileep1314 commented on #34
TR

[2020-04-29 11:48] a-roberts opened #84 "Dashboard versions mentioned for operator repository are old - check we can update"
https://github.com/tektoncd/operator currently mentions

[code]

These versions are soooo last year and it'd be useful to see what the latest version of the dashboard is that we can fit in here.

We know from our own testing using the OpenShift operator that Triggers 0.4.1, Pipelines 0.11.3 and Dashboard 0.6.1 is a good combination, so advocating that would be ideal.

[2020-04-29 11:59] vdemeester commented on #84
/kind cleanup
/kind documentation

[2020-05-03 02:05] vincent-pli commented on #84
/assign

[2020-05-11 13:36] sthaha commented on #3
/assign

[2020-05-18 13:56] afrittoli opened #88 "Handle changes of labels in pipeline, triggers and dashboard deployments"
# Expected Behavior
The latest pipeline, triggers and dashboard can be updated to the latest release

# Actual Behavior
The master version of the three projects failed to update the in the `robocat` cluster because of new labels that were added to the deployments, which cause errors during update of the existing deployments:

[code]

This is a heads-up as the operator may have to deal with this to

[2020-05-18 14:02] vdemeester commented on #88
/kind feature

[2020-05-18 14:03] vdemeester commented on #88
/cc @nikhil-thomas @sthaha

[2020-05-20 06:37] nikhil-thomas commented on #88
definitely, these are the typical use cases were the operator adds value.

[2020-05-20 19:56] k commented on #33
This also makes me nervous, I personally wouldn't use this for that reason alone, or perhaps build my own fork with everything renamed.

[2020-05-21 12:43] #30 closed

[2020-05-23 13:21] sthaha commented on #33
For the recored, I am open to a name change :-) but I beg to differ with the argument above. If we extrapolate that logic, A `Task` which is an equally overloaded term should be named a `TektonTask` and `Pipeline` a `TektonPipeline and a `ClusterTask` a `TektonClusterTask`

But I think `G`VK of the k8s api is precisely meant for this specific purpose ( avoid name conflicts) . The `Task` is in the

[2020-05-23 13:26] sthaha commented on #33
@vincent-pli

Sorry, I missed this comment :( ... I agree that is a good reason to change 🤗
How about: `kubeclt get TektonConfig` ?

[2020-05-25 00:30] vincent-pli commented on #33
@sthaha @nikhil-thomas
What about `TektonPipeline` and `TektonAddons`? I'm afraid `TektonConfig` will be misunderstand as configuration for `Tekton`.

[2020-05-25 05:30] #84 closed

[2020-05-26 21:21] k commented on #33
I see your point! For some reason `Config` and `ClusterConfig` seem like a more heavily overloaded term at the cluster level, it seems like we are configuring the cluster itself, like kubeadm or the [Cluster API](https://cluster-api.sigs.k8s.io/) or something. It also might be because these Operator CRDs are not interacted with enough to warrant such as concise name, whereas Tekton pipeline deploy

[2020-05-27 06:53] nikhil-thomas commented on #33
@vincent-pli @k
I agree with your comments. :+1:
The enduser experience will definitely be better with explict Kind names. `TektonPIpeline` and `TektonAddons` are good. How about `TektoncdCore` and `TektoncdAddons`?

We are in the process of setting up a **Tektoncd/Operator Weekly 30 min Work Group Meeting**.
Please record your time slot preference in this poll: https://docs.google.com/forms/d/e/1

[2020-06-04 11:40] nikhil-thomas opened #90 "Move to single version Payloads"
# Expected Behavior

Each branch Head/release represent a particular version of Pipelines, Triggers and Dashboard

# Actual Behavior

Pipeline version is fixed through `tektonVersion` variable in controller (https://github.com/tektoncd/operator/blob/abdc4db64b69ab1d450fa2623688f8231fd88fb6/pkg/controller/config/config_controller.go#L30). However, we preserve release manifests of older pipeline ver

[2020-06-04 11:44] vdemeester commented on #90
/kind feature

[2020-06-08 00:08] vincent-pli commented on #88
https://github.com/manifestival/manifestival/pull/51

[2020-06-08 19:13] houshengbo opened #92 "Is zz_generated.openapi.go still needed?"
# Expected Behavior
All files should be used.

# Actual Behavior
I did not see anything necessarily using this file. If not, we should remove it.

# Steps to Reproduce the Problem

None

# Additional Info

[2020-06-11 14:41] houshengbo commented on #33
Based on our discussion in the meeting, we will change the names into Change to TektonPipeline and TektonAddon.

[2020-06-15 14:03] #33 closed

[2020-06-15 21:12] houshengbo opened #97 "Whether `no-auto-install` of CR is needed?"
# Expected Behavior
We use CRs to install tekton pipeline and all the other components. CRs are the sources to configure.
The option `no-auto-install` gives us an option to install the pipeline CR automatically or not. Is it still necessary to configure the tekton operator?

Suggest to remove this option.
Users can install the operator. Then install pipeline by manually installing the pipeline CR.

[2020-06-16 16:26] javajon commented on #16
When this is ready, the readme steps for installation

would be improved by adding another step to replace REPLACE_IMAGE in operator.yaml with the official image for Operator. I'm gathering that currently, the setting for REPLACE_IMAGE must be a locally built container from this project.

---
Consider this operator installation could be done via Helm Chart so the operator container tag can be a pa

[2020-06-16 19:02] #92 closed

[2020-06-25 12:16] vdemeester opened #101 "Create a roadmap document"
Mimic what the other project did with [their](https://github.com/tektoncd/pipeline/blob/master/roadmap.md) [roadmap](https://github.com/tektoncd/cli/blob/master/ROADMAP.md).

/kind documentation
/area roadmap

[2020-06-28 21:10] davidkarlsen commented on #16
Isn’t this trivial to fix? It would probably help on adoption.

[2020-06-30 07:20] vincent-pli commented on #88
@sthaha Are you still work on this issue?

[2020-07-01 00:18] sthaha commented on #88
/unassign

[2020-07-01 00:20] sthaha commented on #88
@vincent-pli , @nikhil-thomas  my plan was to have this issue fixed while making the release. We may still want to do that for this release we are trying to make.

[2020-07-01 00:50] vincent-pli commented on #88
@sthaha
The `jcrossley3/manifestival` has been archived, the new repo is: [github.com/manifestival/manifestival](https://github.com/manifestival/manifestival)
I think we need to upgrade to the new one.

BTW, seems the PR I mentioned in the comments is not be accepted, so we need implement it ourselves, then need depends on the new features introduced by `github.com/manifestival/manifestival`.
Any

[2020-07-02 12:00] piyush-garg opened #103 "Upgrade to manifestival/manifestival"
Right now we are using jcrossley3/manifestival in operator [codebase](https://github.com/tektoncd/operator/blob/master/go.mod#L5) This has been archived as you can see here https://github.com/jcrossley3/manifestival

The project has now moved to https://github.com/manifestival/manifestival We need to move the operator codebase to new dependency.

/kind misc
/assign

[2020-07-04 01:52] #103 closed

[2020-07-04 02:59] vincent-pli opened #105 "Issue to trace the bug for Manifestival v0.5.0"
The bug will be merge soon, we need upgrade the version of Manifestival then.
That bug is Manifestival will not delete `namespace` create by itself when run `Delete()`, details please check the link:
https://github.com/manifestival/manifestival/issues/61

[2020-07-06 09:39] #105 closed

[2020-07-09 17:04] nikhil-thomas commented on #11
/assign @houshengbo

[2020-08-06 18:58] houshengbo opened #131 "The cluster-admin privileges for tekton-dashboard-extensions"
When installing the addon dashboard v0.8.2, we come across the following error:

[code]

[2020-08-10 14:07] nikhil-thomas commented on #131
temporary fix
https://github.com/tektoncd/operator#prerequisite

provide cluster-admin role to operator serviceaccount
[code]

we will handle it with a better fix soon.

[2020-08-11 14:25] eddycharly commented on #131
did you try to add the `list` verb for clusterroles in the operator cluster role ?

[2020-08-12 16:45] eddycharly commented on #131
ping @nikhil-thomas

[2020-08-12 17:15] #22 closed

[2020-08-12 17:15] #29 closed

[2020-08-12 20:18] #40 closed

[2020-08-12 23:20] #57 closed

[2020-08-13 07:55] vdemeester commented on #60
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 08:24] vdemeester commented on #12
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 12:04] vdemeester commented on #66
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 13:08] bkmeneguello opened #133 "TektonPipeline Resource status.conditions always appended"
# Expected Behavior

I expect only relevant conditions to be appended to the list

# Actual Behavior

There are multiple copies of the same status appended:

[code]

# Steps to Reproduce the Problem

1. Just install the operator
2. Check the resource

# Additional Info

There is no check before append at [pipeline_controller.go#L325](https://github.com/tektoncd/operator/blob/cf1f2174a092cc3d76a42e

[2020-08-13 13:28] #70 closed

[2020-08-13 18:31] #74 closed

[2020-08-14 09:13] ibotty commented on #3
Can this ticket be reopened?  It would still be great to have the operator on operatorhub.

[2020-08-14 09:31] vdemeester commented on #3
/reopen
/remove-lifecycle rotten
/remove-lifecycle stale

/cc @nikhil-thomas as I think there is a PR to come soon ?

[2020-08-14 20:46] #97 closed

[2020-08-15 02:47] #88 closed

[2020-08-15 04:49] 06kellyjac commented on #16
This is still important for me

[2020-08-17 08:45] vdemeester commented on #90
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:45] vdemeester commented on #101
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:46] vdemeester commented on #16
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

/cc @nikhil-thomas as I think the recent release *should* fix this.

[2020-08-17 08:46] vdemeester commented on #11
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-20 09:01] 06kellyjac commented on #16
@vdemeester correct I just looked at the `release.yaml` from the operator release in the GH Releases tab & it had an image in gcr and I was able to pull it:

`gcr.io/tekton-releases/github.com/tektoncd/operator/cmd/manager:v0.15.1-1@sha256:825f32940cbb327728b412dcab480210b72150bcdc45a6345f5d6a8f7d7d1eed`

/close

[2020-08-20 09:05] vdemeester commented on #16
@06kellyjac yeah, the image is published, so I think we can close indeed
/close

[2020-08-20 09:05] #16 closed

[2020-08-20 09:09] 06kellyjac commented on #16
Thanks everyone. This removes one of the extra steps that gets in the way of playing with the operator. Much appreciated.

[2020-08-20 20:10] sbose78 commented on #3
Is there an ETA on the Kubernetes operator @nikhil-thomas  :) ?

[2020-08-24 12:18] disposab1e opened #136 "Tekton Dashboard - Extensions Webhook - Error loading extension"
# Expected Behavior
Tekton Dashboard - Extensions Webhook  - Page is available

# Actual Behavior
Tekton Dashboard - Extensions Webhook
Page not available: "Error loading extension error loading dynamically imported module

# Steps to Reproduce the Problem

1. OKD 4.5.0
2. Install Operator (latest)
3. cluster-admin role for operator
4. Install Dashboard (openshift-v0.8.2)
5. Install  extensionwebh

[2020-08-24 12:21] disposab1e opened #137 "Tekton Dashboard - About - Could not find PipelineVersion"
# Expected Behavior
Pipeline Version available

# Actual Behavior
Error getting date: Could not find PipelineVersion

# Steps to Reproduce the Problem

1. OKD 4.5.0
2. Install Operator (latest)
3. cluster-admin role for operator
4. Install Dashboard (openshift-v0.8.2)
5. Create Route for Dashboard
6. Authenticate
7. Browse to: Tekton Dashboard - About

[2020-08-27 14:53] Avni-Sharma opened #138 "Update go version"
Go version can be updated in https://github.com/tektoncd/operator/blob/master/go.mod#L26

[2020-08-28 07:46] gyliu513 opened #139 "No CSV file for the operator"
Any plan to commit the CSV file here for the operator?

[2020-09-03 05:23] Vilsol opened #141 "Failed to install after being removed"
# Expected Behavior

Be able to remove all traces of tekton operator and then reinstall it.

# Actual Behavior

Tekton operator goes in an error loop:

[code]

# Steps to Reproduce the Problem

1. `kubectl apply -f https://storage.googleapis.com/tekton-releases/operator/latest/release.notags.yaml`
2. Delete any resources and traces of tekton
3. `kubectl apply -f https://storage.googleapis.com/tekt

[2020-09-03 05:37] Vilsol commented on #141
Sorry for the issue!

Solved via:

[code]

[2020-09-03 05:37] #141 closed

[2020-09-03 15:53] nikhil-thomas commented on #139
coming up https://github.com/tektoncd/operator/pull/140

[2020-09-03 15:56] nikhil-thomas commented on #138
definitely :+1:
our new developments will be in our [main](https://github.com/tektoncd/operator/tree/main) branch (knative/pkg based instead of operator-sdk)
https://github.com/tektoncd/operator/blob/8d57de69f9ac6b10fd807fe16899bfbf9e7039fa/go.mod#L5

[2020-09-08 01:25] vincent-pli opened #144 "The namespace: tekton-pipeline can not be remove when delete CR"
# Expected Behavior
The namespace should be remove
# Actual Behavior
not
# Steps to Reproduce the Problem
After install tekton-operator then remove tektonpipeline/cluster

# Additional Info
The issue is caused by `manifestival`, log a issue for tracing.
https://github.com/manifestival/manifestival/issues/75

[2020-09-13 04:21] #34 closed

[2020-09-15 00:09] #133 closed

[2020-09-16 12:37] bkmeneguello opened #149 "Tekton ConfigMaps are overwritten by Operator"
# Expected Behavior

After installing the Operator and make any modification to Tekton ConfigMaps (config-defaults, feature-flags) they should not be modified, even after operator restarts or upgrades.

# Actual Behavior

If I restart the operator deployment container the config-maps are overwritten with default values, replacing anything I've defined.

# Steps to Reproduce the Problem

- Install

[2020-09-16 14:53] sbose78 commented on #3
This is done https://github.com/operator-framework/community-operators/tree/master/upstream-community-operators/tektoncd-operator and can be closed?

[2020-09-16 15:46] vdemeester commented on #3
I think so yes :upside_down_face:
/close

[2020-09-16 15:46] #3 closed

[2020-09-17 00:00] #144 closed

[2020-09-17 10:26] vdemeester commented on #149
/cc @nikhil-thomas
/kind feature

I am not sure I agree with "should not be modified, even after operator restarts or upgrades.", **but** we should definitely keep the users modifications ; by merging the "current" one — modified by the user — and the new ones (that may contain some default values required by new versions).

[2020-09-17 13:54] nikhil-thomas opened #150 "Separate API and Recinciler for Tektoncd Projects (Components)"
# Why

Using the same API (`tektonaddons`) and its reconciler for all Tekton components (triggers, dashboard etc) makes it difficult to run, automate upgrade tests. It is difficult to add component specific upgrade logic in the reconciler,  each time we add a newer version of a component.

In addition, different components might support different install mode and/or watch modes. Eg: dashboard supp

[2020-09-17 14:03] vdemeester commented on #150
/kind feature

[2020-09-18 06:51] savitaashture commented on #150
Based on [slack](https://tektoncd.slack.com/archives/CKZQUT3MH/p1600361722021300) and WG conversation we will be implementing separate CRD for each addons as described in issue description for `main` branch where knative/pkg based refactoring of tektoncd/operator is going on

/assign

[2020-09-21 17:58] bkmeneguello commented on #149
I have no problem with non-destructive modifications, it is OK for my use-case.

[2020-09-22 17:01] nikhil-thomas opened #155 "[`main` branch] TektonPIpeline reconciler doesn't update the TektonPipeline instance status correctly"
# Expected Behavior

When the knative/pkg based implementation of operator installs TektonPipeline, the status of the instance of TektonPipeline CRD should be updated correctly

# Actual Behavior

The READY statue of the CR is not updated correctly.

[code]

and

[code]
# Steps to Reproduce the Problem

1. clone tektoncd/operator `main` branch
1. `ko apply -f config`
1. `kubectl apply -f config/cr

[2020-09-23 07:05] #155 closed

[2020-09-25 01:57] vincent-pli commented on #149
@vdemeester
In `Knative/operator`, they supplied operators own api to handle this:
https://github.com/knative/operator/issues/264

I think we can borrow the idea.

[2020-09-30 10:02] NissesSenap commented on #149
Is there any plans to manage the feature-flags cm through the operator or will that be keept as is?

[2020-09-30 10:24] ibotty opened #160 "Manage clustertasks from tektoncd/catalog"
# Expected Behavior

ClusterTasks get installed and updated by the operator.

# Actual Behavior

They have to be added/modified manually.

[2020-10-01 14:16] nikhil-thomas commented on #160
/kind feature

[2020-10-01 16:46] vdemeester commented on #160
@ibotty To make sure I understood the request, the idea would be to ship some tasks from the catalog with the operator, and as `ClusterTask` right ? (a similar behavior that OpenShift Pipelines does).

If that's the case then, few questions
- Which one do we ship ?
- How do we decide which one do we ship ?

[2020-10-02 07:46] ibotty commented on #160
Yes.  That was the idea.  I assume that one could ship them all, maybe configurably with either white- or blacklist.

[code]
or
[code]

[2020-10-02 07:48] ibotty commented on #160
I have no preference (not that that would matter) on whether it's a `TektonAddon` or part of the operator.

[2020-10-26 10:08] ibotty opened #163 "Feature Request: Add "Tekton Results API" Addon"
It would be great to be able to deploy [Tekton Results API](https://github.com/tektoncd/experimental/tree/master/results) via TektonAddon.

Once  tektoncd/experimental#652 is fixed, it should only need definitions in `/command/manager/kodata/resources/addons/` (and documentation).  I can create a pull request adding it, if desired.

[2020-11-09 10:47] tibcoplord opened #164 "Upgrade to use kubernetes api v1"
# Expected Behavior
No warnings when installing tekton

# Actual Behavior
With recent kubectl, warnings are generated when installing tekton

# Steps to Reproduce the Problem

[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

[2020-11-10 17:52] 06kellyjac commented on #131
still important

[2020-11-12 09:48] vdemeester commented on #66
/remove-lifecycle stale

[2020-11-12 09:52] vdemeester commented on #60
/remove-lifecycle stale

[2020-11-12 10:05] vdemeester commented on #12
/remove-lifecycle stale

[2020-11-16 16:31] ibotty opened #173 "update version to include newer tekton pipelines releases and publish current version on operatorhub"
### Feature request
It would be great to have newer tekton versions.

[2020-11-24 08:49] nikhil-thomas commented on #173
we are focusing on our efforts to rewrite this operator using knative/pkg as the controller runtime instead of operator-sdk: https://github.com/tektoncd/operator/tree/main.

The work will be complete in maximum 2 weeks, then we shall constantly make releases with pipelines and triggers releases.
ref: https://github.com/tektoncd/operator/pulls?q=is%3Apr+base%3Amain+is%3Aclosed+is%3Amerged

[2020-11-24 08:55] nikhil-thomas opened #175 "Add a short poll to CheckDeployment Stage"
# Ref
https://github.com/tektoncd/operator/blob/646a6833ee6ab097fcf5869638facbac10cd50a9/pkg/reconciler/common/deployments.go#L31

# Current behavior

The CheckDeployment was fetchin the deployments only once. Hence, the Ready status condition was not always updated correctly. This also made e2e tests flaky.

So the the CheckDeployment was modified (https://github.com/tektoncd/operator/pull/174) t

[2020-12-08 11:18] khrm opened #183 "RBAC Handling for Multitenant EventListener"
### Feature request
RBAC Handling for Multitenant EventListener

### Use case
1. Operator creates a Multitenant EventListener which can serve all namespaces or some combination of namespaces.
2. Operator gives permission to EL sa for each namespace where Multintenant EventListener serves. Permission require are secrets.

In case of using namespace for each project, we require every project to give

[2020-12-08 11:18] khrm commented on #183
/assign khrm

[2020-12-09 14:35] vdemeester commented on #163
@ibotty Thanks for the issue. We are waiting for the results API project to be "moved" to [`tektoncd/results`](https://github.com/tektoncd/results)

/kind feature

[2020-12-09 14:40] vdemeester opened #185 "Documentation on tekton.dev"
This issue is to track work around getting an initial set of documentation **and** get it published on `tekton.dev`.

We need to update documentation in `docs/` to be user oriented (aka using the release to install, …), a getting started, and some deep-in part for each CRD for example.

And then, we will need to enable publishing versioned documentation on tekton.dev.

/kind documentation
/cc @nik

[2020-12-10 23:52] 06kellyjac commented on #131
Did #174 resolve this or does this still need work?

[2020-12-11 08:37] vdemeester commented on #131
/remove-lifecycle rotten

[2020-12-15 09:51] vdemeester commented on #101
/remove-lifecycle rotten
/lifecycle frozen

[2020-12-17 08:41] nikhil-thomas commented on #150
we have TektonConfig, TektonPipeline, TektonTriggers, TektonDashboard and TektonAddons. Each of the CRDs have separate reconcilers.
Hence, closing this issue.

https://github.com/tektoncd/operator/pull/153
https://github.com/tektoncd/operator/pull/159
https://github.com/tektoncd/operator/pull/167
https://github.com/tektoncd/operator/pull/179
https://github.com/tektoncd/operator/pull/143

[2020-12-17 08:41] #150 closed

[2021-01-04 06:10] nikhil-thomas commented on #138
handled in the `main` (current default) branch of this repository.
https://github.com/tektoncd/operator/blob/f56fc17cf105c39186fedec2fe1cac011472e0cd/go.mod#L21

[2021-01-04 06:10] #138 closed

[2021-01-04 06:10] nikhil-thomas commented on #139
/remove-lifecycle rotten

[2021-01-04 16:27] vdemeester commented on #149
/remove-lifecycle stale

[2021-01-04 16:27] vdemeester commented on #160
/remove-lifecycle stale

[2021-01-08 13:44] chmouel opened #209 "Automatic cleaning of *Run objects"
### Feature request

Users are wondering how Tekton can automatically clean old Task/Pipeline/Runs objects. Currently they are staying inside the cluster and it's up to the users to clean them up.

https://github.com/tektoncd/pipeline/issues/2856
https://github.com/tektoncd/pipeline/issues/1334

The consensus is to wait for this kubernetes features coming hopefully 🤞🏽 in 1.21 :

https://github.com

[2021-01-14 08:03] aelbarkani commented on #173
Any update on this topic ? I'm itching to test the new version xD

[2021-01-29 05:44] nikhil-thomas opened #224 "Setup Operator Packaging Tooling/Scripts"
In order to publish an operator on OperatorHub.io the operator must be packaged as an operator bundle. This involves creating a ClusterServiceVersion file (https://sdk.operatorframework.io/docs/olm-integration/generation/), which combines resource manifests and metadata.

Currently, for TektonCD Operator we have to create the ClusterServiceVersion manually. There exists an `operator-sdk` subcomman

[2021-02-03 11:35] aelbarkani commented on #173
We had to abandon Tekton as a potential engine for CI/CD on OKD unfortunately. We couln't test easily any new version since no new releases of the operator have been published since Aug 2020...

[2021-02-03 14:15] nikhil-thomas commented on #173
hi, we had to make a major refactoring of this operator. We moved the code from a operator-sdk based implementation to a knative/pkg base implementation. All the other components of Tekton (Pipelines, Triggers...) etc are written using knative/pkg controller runtime. At present, each component has its own CRD and reconcile loop In addition, we have also added support for platform based operator co

[2021-02-03 16:42] vdemeester commented on #173
And monthly from now on.

The operator is not the only way to try and install Tekton. It should be the preferred way once we are on a "normal"/"stable" release cadence, but it's definitely possible to install tekton through tektoncd/pipeline, … release files.

[2021-02-05 17:46] aelbarkani commented on #173
That's true @vdemeester, but we were interested in having Tekton integrated into OpenShift console, and the operator seems the only way to have it. Or is there another way to get it ?

[2021-02-06 02:06] jmcshane opened #233 "Document where published docker images can be consumed from"
Are there existing built images for this project? Can they be published to the GCR repo with the rest of the tekton project images?

It appears the only way to install is via source at this point.

[2021-02-11 18:35] vdemeester commented on #173
@aelbarkani depends of what you mean by "integrated into OpenShift console". As far as I know, the console react to the tekton api being present so even if you don't install it through the operator hub from the console, you would see the UI pieces showed there (there might be some issues though as it might not be tested against nor supported depending on the version you deploy, but…).

Also, quick

[2021-02-11 18:36] vdemeester commented on #164
/cc @nikhil-thomas @savitaashture
I think with the move on knative/pkg we did handled those.

[2021-02-11 18:37] vdemeester commented on #164
Yes, https://github.com/tektoncd/operator/pull/195 did fix that issue.
/close

[2021-02-11 18:37] #164 closed

[2021-02-14 14:35] aelbarkani commented on #173
Thanks for these updates ! It's ok to have a release.yaml that points to a specific version, no need for operator hub indeed. What I meant is that installation through operator is necessary for OpenShift console, whether with release.yaml or operator hub. The regular installation with tektoncd/pipeline doesn't offer these capabilities, since I think the code for that feature is hosted here in this

[2021-02-16 08:51] nikhil-thomas commented on #233
hi, it is in the roadmap. We are working on making the images available from a public container registry and the operator from operatorhub.io, by the end of this month.

please excuse the delay.
https://github.com/tektoncd/operator/issues/173#issuecomment-772541983

[2021-02-25 05:46] vdemeester commented on #209
There is now a related TEP : [TEP-0052](https://github.com/tektoncd/community/blob/main/teps/0052-tekton-results-automated-run-resource-cleanup.md)
/cc @wlynch

[2021-03-03 07:19] savitaashture opened #242 "Add e2e tests for webhook"
As part of Operator we have added custom webhook implementation to handle
* Adding of proxy related env for all the pods created by tekton during runtime.
* Adding annotation to Triggers Eventlistener in order to handle autocreation of certs for Openshift

right now there are no E2E to test webhook implementation.

This issue is to track the same

[2021-03-03 11:38] ibotty commented on #233
Any Update?

[2021-03-03 13:39] nikhil-thomas commented on #233
@ibotty great timing.
fresh out of the oven.
https://github.com/tektoncd/operator/releases/tag/v0.21.0-1

[2021-03-03 13:46] nikhil-thomas commented on #173
`v0.21.0-1` release.yaml: https://github.com/tektoncd/operator/releases/tag/v0.21.0-1

operatorhub.io coming up

[2021-03-03 17:50] aelbarkani commented on #173
awesome !

[2021-03-09 15:51] vdemeester commented on #185
/lifecycle frozen

[2021-03-11 06:13] nikhil-thomas opened #249 "TektonConfig reconciler is not recreating components on deletion"
# Expected Behavior
If components are installed using the TektonConfig instance, using profiles, then direct deletion of component CRD Instances (TektonPipeline, TektonTriggers... ) shoud trigger recreation of the deleted component.

# Actual Behavior

Components deleted stays deleted even if it was installed using TektonConfig [install profiles](https://github.com/tektoncd/operator/blob/main/docs

[2021-03-11 09:25] nikhil-thomas commented on #224
/assign

[2021-03-12 08:01] concaf opened #254 "Extend extensions' capability to create resources in the cluster"
Right now the `PreReconcile`, `Reconcile` and `PostReconcile` methods in the operator's extensions not have access to the `(r *Reconciler)` and even the access to `mf.Manifest` is tedious to implement - both of these make it difficult to add resouces to the cluster via kodata or adding them programatically.

We need to fix this by either extending the `Extension` interface or some other way.

@vde

[2021-03-12 08:20] nikhil-thomas commented on #254
one way to handle this is this example https://github.com/tektoncd/operator/blob/6b4b0a872d36eaadb0e02d0a542fdfc303cab586/pkg/reconciler/openshift/tektonconfig/extension.go#L173

[2021-03-12 08:22] nikhil-thomas commented on #254
one instance where we can do something like this is the creation of targetNamespace.
https://github.com/tektoncd/operator/pull/246#discussion_r592941026

[2021-03-12 13:47] nikhil-thomas commented on #131
/remove-lifecycle rotten

[2021-03-12 17:24] rudeigerc opened #258 "Inappropriate configuration of ImagePullPolicy with kind"
# Expected Behavior

Using the local image.

# Actual Behavior

Back-off pulling image since the `ImagePullPolicy` is set as `Always`.

# Steps to Reproduce the Problem

[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=j

[2021-03-15 05:26] concaf opened #262 "`tekton-operator-proxy-webhook` pod does not come up with `make apply`"
`make TARGET=openshift apply apply-cr` created a `tekton-operator-proxy-webhook` pod in `openshift-pipelines` namespace which fails with a `CreateContainerError`.

# Expected Behavior
All pods come up fine

# Actual Behavior
`tekton-operator-proxy-webhook` pod in `openshift-pipelines` namespace fails with a `CreateContainerError`.

Upon describing the pod, I get an error saying:
[code]
# Steps to

[2021-03-18 10:08] nikhil-thomas opened #267 "TektonConfig instance autocreate for all platforms by default"
### Feature request

Auto create an instance of TektonConfig when the operator is installed

- a flag could be provided (command line flag, feature gate confifMap ...) to disable this feature.

### Use case

At present, a user has to install an operator release and then manually create an instance of TektonConfig to install components like TektonPipeline, TektonTriggers, TektonDashboard...

[2021-03-25 05:02] aelbarkani commented on #173
@nikhil-thomas unfortunately I cannot make this work with openshift. It seems this file is only for Kubernetes...

[2021-04-05 14:52] vince-franco commented on #267
Love this idea!

[2021-04-06 19:23] maurerbot opened #278 "Operator Hub"
Just curious if you are no longer publishing the operator to operator hub?

[2021-04-07 07:32] nikhil-thomas commented on #278
we do plan to publish it on operator hub. We met with some unexpected delays.
We shall try our best to publish it in 2 weeks.

could you answer few questions for us. :innocent: :technologist:

1. What kind of kubernetes cluster do you use (vanila k8s, openshift, gke, aks..)
1. How do you install OLM. Do you already have it running on your clusters
1. what kind of configuration options, lifecycle s

[2021-04-07 09:12] ibotty commented on #173
Is there an ETA?

[2021-04-08 15:49] vdemeester commented on #163
/lifecycle frozen

[2021-04-21 10:31] yaoxiaoqi opened #285 "Minimal permissions required by installing pipelines"
Hi, I'm trying to figure out the minimal permissions needed by tekton pipelines. I have some questions about config/base/role.yaml. Do we really need the permission to delete/update *all* namespaces? or we just need the permission to delete/update some controlled namespace like `tekton-pipelines`?
If you have any idea of minimizing the permissions, please feel free to share with me.

[2021-04-21 11:33] rlandesman opened #287 "Custom namespace installation"
### Feature request

I have a particular use-case in which I'd like to install the operator and all CRs in a custom namespace other than `tekton-operator` or `tekton-operator`.

### Use case

As a workaround I've considered forking the CD Foundation's helm chart and templating out the namespace value, however It'd be great if this was customizable out of the box.

[2021-04-21 15:13] vdemeester opened #288 "`docs` should hold end-user documentation for operator…"
… instead of *dev* documentation as it is today.

We should move the current *dev* documentation that is in `docs/` currently in a `DEVELOPMENT.md`.

/kind documentation
/assign

[2021-04-23 05:17] vdemeester opened #293 "Release 0.22-2 with correct/updated payloads"
0.22-1 release doesn't contain pipeline 0.22. This should be fixed in a 0.22-2 release where we will bump the payload for pipeline (0.22.0), trigger (0.12.1) and dashboard (0.15.0).

/assign
/kind bug

[2021-04-23 05:20] vdemeester commented on #293
Will be based on https://github.com/tektoncd/operator/tree/release-v0.22 branch (which has been created from 0.22 tag)

[2021-04-26 05:43] savitaashture opened #294 "Support seamless upgrade with Operator"
### Feature request

Operator should allow seamless upgrade similar to other project like `Pipeline` and `Triggers`

Currently the upgrade steps are
1. Install old version of Operator
2. Install `Config` CR
3. Install new version of Operator

### Use case

[2021-04-26 14:10] houshengbo commented on #294
The new version of the operator should recognize the existing CRs automatically and reconcile.
I do not think there should be any need to touch on the existing CRs during the upgrade.

[2021-04-27 09:15] 06kellyjac opened #296 "0.22.0-2 yaml from the release is missing"
https://github.com/tektoncd/operator/releases/tag/v0.22.0-2

https://storage.googleapis.com/tekton-releases/operator/previous/v0.22.0-2/release.yaml

[code]

does `/previous` only work for older releases? Should the path be different for latest releases?

[2021-04-27 09:24] vdemeester commented on #296
@06kellyjac should be fixed now. There has been a *glitch* in the release, fixed it manually 😉

[2021-04-27 09:40] 06kellyjac commented on #296
Worked. Thanks @vdemeester

[2021-04-27 09:40] #296 closed, assigned to nobody

[2021-04-28 18:06] houshengbo opened #298 "Create the release at 0.23"
As pipeline has released 0.23, the operator needs to catch up as well.

What needs to be done?
1. Add the manifests of pipeline 0.23.0.
2. Add the manifests of triggers 0.13.0, with both the release.yaml and interceptors.yaml.
3. Add the manifests of triggers 0.16.1.

[2021-04-28 18:06] houshengbo commented on #298
/assign @vdemeester

[2021-04-29 01:44] cnuland commented on #278
I would also like to see updates on operatorhub, the current version is .15 ... this is critical for deploying to OKD
https://operatorhub.io/operator/tektoncd-operator

[2021-04-29 10:52] #288 closed

[2021-04-29 11:59] rlandesman commented on #131
Just a heads up that I ran into the same issue when applying the operator to my cluster:

[code]

[2021-04-29 16:47] savitaashture opened #299 "AutoUpgrade fail with permission issue"
# Expected Behavior
Operator Upgrade should work seamlessly from old version to new version
# Actual Behavior
Operator Upgrade is not working
# Steps to Reproduce the Problem

1. Apply Operator release v0.21.0-1
2. Apply `Config` CR
[code]
3. Apply Operator release v0.22.0-2

# Result
Upgradation fail with below error

[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl versio

[2021-04-29 16:47] savitaashture commented on #299
/assign

[2021-04-29 19:19] houshengbo opened #300 "TektonDashboard unable to install @ 0.22.0-2"
Error message in the log:
[code]

[2021-04-29 19:22] houshengbo opened #301 "TektonTrigger unable to install @ 0.22.0-2"
Error message:
[code]

[2021-04-30 13:12] vdemeester commented on #300
/assign

[2021-04-30 13:28] vdemeester commented on #301
/assign

[2021-05-03 11:03] #300 closed

[2021-05-03 11:03] #301 closed

[2021-05-03 11:03] #298 closed

[2021-05-03 11:03] #293 closed

[2021-05-03 13:07] savitaashture commented on #299
Hey @vdemeester @houshengbo

I have tried upgrading from `v0.22.0-3` to `v0.23.0-1`  and it works without any issue

I assume the rbac issue  is with older version

So do we need to fix that for that particular version :thinking:

[2021-05-03 14:00] vdemeester commented on #299
I fixed the rbac issue on v0.22.0-3 and thus on v0.23.0-1 too yes. User should upgrade to v0.22.0-3.
/close

[2021-05-03 14:00] #299 closed

[2021-05-06 23:40] #41 closed

[2021-05-07 03:40] #66 closed

[2021-05-07 04:40] #60 closed

[2021-05-07 05:40] #90 closed

[2021-05-07 05:40] #11 closed

[2021-05-07 07:40] #136 closed

[2021-05-07 07:40] #137 closed

[2021-05-07 18:40] #12 closed

[2021-05-07 23:40] #175 closed

[2021-05-08 01:40] #183 closed

[2021-05-09 19:47] AdlerFleurant opened #304 "Multiple Event Listener Service in same namespace is not working properly on OpenShift"
# Expected Behavior

It should be possible to create multiple working event listener on a single namespace in OpenShift.

# Actual Behavior

While multiple event listener is created. It will create multiple kubernetes service, however it will annotate all of them with the same: service.beta.openshift.io/serving-cert-secret-name=tls-secret-key. The result is that the generated secret will only have

[2021-05-10 10:29] nikhil-thomas commented on #149
/remove-lifecycle rotten

[2021-05-10 10:42] nikhil-thomas commented on #160
/lifecycle frozen

[2021-05-10 10:53] nikhil-thomas commented on #139
/lifecycle frozen

[2021-05-11 06:40] nikhil-thomas commented on #131
true, so far we have been manually removing the aggregate rule from dashboard release.yaml. it is temporary fix. we need a better solution like your suggestion.

[2021-05-14 19:18] javajon opened #306 "Tekton operator install from OperatorHub.io produces CrashLoopBackOff"
# Expected Behavior

Following the instructions for installing Tekton from the [Tekton operator readme](https://github.com/tektoncd/operator#install-tektoncd-operator) it works perfectly. This Tekton tutorial [Katacoda scenario](https://katacoda.com/javajon/courses/kubernetes-pipelines/tekton) provides a place where this works.  However, if you use this same scenario as a sandbox and follow the st

[2021-05-18 10:21] #267 closed

[2021-05-21 14:37] AlanGreene commented on #131
I propose we just remove the offending ClusterRole from the Dashboard's default installs. It is only required for users with Dashboard extensions and can be documented as an additional requirement when adding an extension.

https://github.com/tektoncd/dashboard/issues/2047

[2021-05-22 04:48] nikhil-thomas commented on #131
At present, we are manually removing the clusterrole and rolebinding.
If it is alright to install the dashboard without them (default installs) by the operator,
then we can add a tiny filter in the operaotrs dashboard logic to filter those 2 out.

[2021-05-22 04:49] nikhil-thomas commented on #131
/help-wanted
/good-first-issue

[2021-05-24 13:18] pvlltvk opened #311 "Components customization"
Hi, everyone!

Is there any possibility to set/customize some parameters of Tekton components which are installed by Operator?
For example, I want to set some feature-flags as described [here](https://github.com/tektoncd/pipeline/blob/main/docs/install.md#customizing-the-pipelines-controller-behavior)

[2021-05-25 07:47] nikhil-thomas commented on #311
At present, we don't expose any of the parameter through our Operator's CRDs.

However, potential workaround is to edit them in the config map of respective components. There is a gotcha though, operator might reset custom changes in successive reconciles.

The issue https://github.com/tektoncd/operator/issues/149 needs to be resolved for the above workaround to work reliably.

Customization optio

[2021-05-25 17:54] pvlltvk commented on #311
Hi @nikhil-thomas!

I would definitely prefer to set it in CR spec.

[2021-05-26 06:40] nikhil-thomas commented on #209
/lifecycle frozen

[2021-05-26 06:41] nikhil-thomas commented on #209
/assign @pradeepitm12

[2021-05-27 05:43] nikhil-thomas commented on #311
How about an updated spec like:
[code]

@pvlltvk
cc @houshengbo @vincent-pli @vdemeester @savitaashture @pradeepitm12 @sm43

[2021-05-27 19:13] pvlltvk commented on #311
@nikhil-thomas Looks good to me!

[2021-05-29 18:18] aelbarkani commented on #173
@nikhil-thomas just FYI, we are not able to install the operator through ArgoCD in OKD seamlessly, this file https://storage.googleapis.com/tekton-releases/operator/previous/v0.22.0-1/release.yaml is only for Kubernetes. And OperatorHub publishing seems not published yet. maybe we are missing something ?

[2021-05-29 19:13] aelbarkani commented on #278
same here (cf. https://github.com/tektoncd/operator/issues/173#issuecomment-850876619)

[2021-05-31 01:35] AdlerFleurant commented on #304
@savitaashture , it seems that commit b5c51485bf74b71501eb28f86b5b9f314b622768 resolves this but this is still opened.

b5c51485bf74b71501eb28f86b5b9f314b622768

[2021-05-31 09:03] nikhil-thomas commented on #173
we have an update:
 ✅  `v0.23.0-2` released on operaotrhub.io

 we were working on making the process of publishing to operatorhub simpler from our side. From now on, there will regular versioned updates to operatorHub.

[2021-05-31 09:03] nikhil-thomas commented on #278
https://github.com/tektoncd/operator/issues/173#issuecomment-851340864

[2021-05-31 09:11] nikhil-thomas commented on #278
@maurerbot

currently tektoncd-operator supports only `AllNameSpaces` install mode. This is because we want the operaotor watch all namespaces (eventhough all operator CRDs are clusterscoped).

This means, OLM will install it in `operators` namespace as this namespaces has a default `global` operator group (operaotr group type `AllNamespaces`). So as we start publising regulary on operatorhub, if

[2021-05-31 09:56] savitaashture commented on #304
Yup
Forgot to close the issue :)

[2021-05-31 09:56] savitaashture commented on #304
/close

[2021-05-31 09:56] #304 closed

[2021-05-31 14:14] nikhil-thomas commented on #149
https://github.com/tektoncd/operator/pull/314

[2021-05-31 14:21] aelbarkani commented on #173
Hi @nikhil-thomas. Unfortunately that broke our current installation in OKD. The deployed version is Kubernetes, not Openshift's/OKD. We get this error:
`Error: container create failed: time="2021-05-31T14:20:04Z" level=error msg="container_linux.go:367: starting container process caused: chdir to cwd (\"/home/nonroot\") set in config.json failed: permission denied" `

Is there a way we can easily

[2021-05-31 16:14] nikhil-thomas commented on #173
cc @vdemeester

[2021-06-01 03:20] sm43 opened #316 "TektonConfig controller watches over Namespace Event on Kubernetes Platform"
Currently, the TektonConfig Controller is watching over namespace event [here](https://github.com/tektoncd/operator/blob/15ae6c07ef5c3c35e139afe251862fe3fe20a734/pkg/reconciler/kubernetes/tektonconfig/controller.go#L86) but this is required only in case of OpenShift Platform.

So, this can be made part of only OpenShift Platform instead of keeping it common.
One of the way would be moving the info

[2021-06-01 04:33] sm43 commented on #316
/help-wanted
/good-first-issue

[2021-06-01 08:04] vdemeester commented on #173
@aelbarkani on which pod/container do you get this error ? (controller, webhook, task's pod, … ?)
But yeah, indeed, I think we should aim to publish tektoncd/operator kubernetes flavor on operatorhub kubernetes versino, and the openshift flavor for openshift community (aka okd).

[2021-06-01 08:20] nikhil-thomas commented on #242
/remove-lifecycle stale
this is very important.
😬  looks like https://github.com/operator-framework/community-operators/pull/3971 not merging because of a webhook related crash.

[2021-06-01 08:20] nikhil-thomas commented on #242
/lifecycle frozen

[2021-06-01 08:41] aelbarkani commented on #173
in task pods and another pod that pops up called affinity or something like that. in order to solve this we had to uninstall the operator and to build the images from source by using Makefile, which of course is not compatible with Gitops way of managing our deployments

[2021-06-01 08:44] vdemeester commented on #173
@aelbarkani ok so you are hitting this bug then: https://github.com/tektoncd/pipeline/issues/3968#issuecomment-848470770

[2021-06-01 08:48] aelbarkani commented on #173
@vdemeester yes, we get the same error in both affinity-assistant and the task pod. solved by installing openshift flavor with "make apply"

[2021-06-01 08:53] vdemeester commented on #173
As @nikhil-thomas said in the comment linked

we (openshift-pipelines team) need to discuss how to publish the openshit target (and more often) for OKD.

[2021-06-01 13:16] dbazhal commented on #209
Just to add two cents.
There already is useful ttl mechanism operator - https://github.com/hjacobs/kube-janitor
And we tried that thing, but the point is, TTL is pretty bad helper here. Because even if I set TTL to 2-3 days, my cluster will get flooded very, very fast - I've got thousands of pipelines, and they can run every hour.
My favorite strategy for this situation is the way openshift buildc

[2021-06-01 13:20] dbazhal commented on #209
Also, I would like to have option like ".spec.cleanRunObjectsOnDelete", to be able to be sure all run objects removed on pipeline deletion(that could be implemented through setting ownerReferences for run objects, pointing to original task/pipeline (https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#owners-and-dependents).
We also already have such feature implemented in

[2021-06-02 04:43] sm43 commented on #163
/assign

[2021-06-02 14:56] mjschmidt opened #318 "Change the git-in it container"
# Expected Behavior
I would expect the insecure-skip-tls-verify pipeline resource set to false (I also tried true) to cause my git pipeline resource to pull my privately hosted gitlab repo despite it having a self signed certificate.

# Actual Behavior
The skip-tls-verify is not working as expected
Ssl certificate problem: unable to get local issuer certificate\n

# Steps to Reproduce the Problem

[2021-06-02 18:18] imjasonh opened #319 "Feature Request: Add Tekton Chains addon"
### Feature request

[Tekton Chains](https://github.com/tektoncd/chains) runs a separate controller that watches Tekton executions and records/signs details of execution history to better ensure supply chain integrity.

It'd be great if users could instruct the operator to install and configure the chains controller.

### Use case

I'm a (human) operator who's sensitive to security, and wants to t

[2021-06-03 09:28] nikhil-thomas commented on #209
@dbazhal could you share it with us. it would be a great reference for us.

[2021-06-03 09:29] nikhil-thomas commented on #209
@pradeepitm12 @vdemeester

[2021-06-03 10:07] nikhil-thomas commented on #318
in short, it is possible.

At present, we can specify image replacements to any deployment (in spec.image:, in args to entrypoint and in ENV) by specifying the replacement image as a ENV to the operator deployment. But it is not yet configurable through the operators, CRD instance spec.

so if you are not installing the operator using one of the releases on thins repository, all you have to do is

[2021-06-03 10:28] vdemeester commented on #318
@mjschmidt can you share you yamls (pipeline, tasks, runs, pipelineresource, …). If you are using PipelineResources, and the git PipelineResource in particulare, there is a defined set of params you can pass (documented [here](https://github.com/tektoncd/pipeline/blob/main/docs/resources.md#git-resource)). For example if you use the following `PipelineResource` definition, the `insecure-skip-tls-v

[2021-06-03 12:20] mjschmidt commented on #318
@vdemeester that param wasn't working, and you have to set it as type string so it would be "false" not false. But yeah it didn't work.

[2021-06-03 12:23] mjschmidt commented on #318
I also updated with my versions as I do believe tekton does have a bug with that param.

[2021-06-03 12:42] mjschmidt commented on #318
And may I say further, the reason I moved to the operator was because the HPA and webhook were not working correctly. I would install and the webhook would disappear and then the HPA would go into pending saying it could not find the webhook.

How would I go about debugging that? My preference is to use the base installation.

[2021-06-03 12:43] sm43 opened #320 "Document the way to avoid configmap override by adding label"
#314 adds a way to avoid override of pipeline configmap.
- User can add a label `operator.tekton.dev/retain-user-settings: true` to configmaps and operator while reconciling or
upgrading will make sure the values changed by user if any will remain same.
- If user removes the label then operator will set it back to default from release.yaml

/kind documentation

[2021-06-03 12:44] mjschmidt commented on #318
Also i appreciate the info so far.

[2021-06-03 12:51] vdemeester commented on #318
Which param ? According to the doc, the following should work

[code]

If not, we need to open a bug report on [`tektoncd/pipeline`](https://github.com/tektoncd/pipeline)

[2021-06-03 12:52] vdemeester commented on #318
Yep, should be a separate bug or discussion 😛

[2021-06-03 19:44] mjschmidt commented on #318
Have you tried using this param though? Because at the very least it should fail because false is not of type string. And then when the param was used it did not do anything. I still got a fail with an ssl error.

[2021-06-04 13:20] vdemeester commented on #318
Oh way, I messed up in my example, according to the doc, **this** should work

[code]

Sorry, I wrote the wrong param name 🤦🏼‍♂️

[2021-06-05 19:34] mjschmidt commented on #318
I'll try it on Monday thank you.

[2021-06-07 11:54] mjschmidt commented on #318
Leaving this ticket open because the need for being able to set the git init container that should be used still needs to be configurable. However the sslVerify does in fact work if set to false as a string. So that's a good work around I'm the meantime.

[2021-06-09 12:51] vinamra28 commented on #316
/assign

[2021-06-10 10:10] nikhil-thomas commented on #224
i have a working prototype. i shall update my pr.
/remove-lifecycle stale

[2021-06-10 10:30] nikhil-thomas commented on #254
still relevant
/remove-lifecycle stale

[2021-06-10 13:02] dbazhal commented on #209
not sure if i can do that - it's corporate, it's in async python, and it's tied to our inner crd's.

main logic is smth like this
[code]
not sure if that can help

[2021-06-11 09:09] vdemeester commented on #258
/remove-lifecycle stale
@tektoncd/operator-maintainers any reason we use `Always` pull policy ?

[2021-06-11 09:27] nikhil-thomas commented on #258
no specific reason. This got in as a default. :stuck_out_tongue:
let us use this issue to drive efforts to make sure that operator can be deployed on kind.

[2021-06-11 09:28] vdemeester commented on #258
/assign

[2021-06-11 09:42] #258 closed

[2021-06-11 12:54] #316 closed

[2021-06-11 17:23] savitaashture opened #329 "Always add ownerReference of parent to the resource"
Creating issue to solve https://github.com/tektoncd/operator/pull/321#discussion_r649951551

/cc @nikhil-thomas

[2021-06-12 06:39] nikhil-thomas commented on #329
In addition, preserve existing ownerReferences (if any) for resources.

[2021-06-14 07:52] vdemeester commented on #262
/lifecycle frozen

[2021-06-14 11:45] vinamra28 commented on #329
/assign

[2021-06-14 12:06] PuneetPunamiya commented on #249
/remove-lifecycle stale

[2021-06-14 12:06] PuneetPunamiya commented on #249
/assign

[2021-06-18 07:42] nikhil-thomas opened #331 "Automate creation prerequisites for TektonResult install"
### Feature request

Automate creation prerequisites for TektonResult install and make TektonResult auto-installable with `all` installation profile.

At present, a user will have to [create 2 secrets](https://github.com/tektoncd/results/blob/main/docs/install.md#prerequisites) before TektonResult can be installed using the operator.

If operator can automate the satisfaction of these prerequisite

[2021-06-21 05:32] #131 closed

[2021-06-21 07:36] 06kellyjac commented on #131
Can this issue be frozen open please

[2021-06-21 15:13] vdemeester opened #333 "OpenShift builder(s) for the operator nightly"
Because the `tektoncd/operator` has 2 targets (kubernetes and openshift), it would be nice to be able to run some tests against OpenShift as well as Kubernetes.

This should be possible by using a Pipeline with a provisionning task (using `openshift-install`) and a final task to destroy it afterwards.

We should start with the nightlies and think if it make sense to enable as an optional pipeline

[2021-06-21 15:15] vdemeester commented on #333
Another alternative would be to use `crc` inside of a job (prow, …) but this means we would need rather big node to execute our job on 😓

[2021-07-01 19:53] dibyom opened #344 "Operator Nightly failing"
# Expected Behavior

Operator nightly should pass

# Actual Behavior

It has been failing the last 2 days. On both days, the failure is on the publish-images task.

[code]

It seems like a new image `proxy-webhook` was added but the release pipeline was not updated.

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

-

[2021-07-02 05:03] sm43 opened #346 "CR status is always true while reconciling for changes"
When a user make changes in the CR for eg. `TektonConfig`, it takes a bit of time to reach desired state,
during this time the status of CR is always true which is kind of misleading.
Although if it fails while reconciling it will set the status of CR as false and show the error.

There should be indication when the resource is reconciling and not in desired state.
But also this shouldn't keep cha

[2021-07-02 05:04] sm43 commented on #346
@nikhil-thomas @pradeepitm12 @vdemeester any thoughts?

[2021-07-02 05:55] nikhil-thomas commented on #346
This a part of our reconciler(s) which can be enhanced with better checks are early returns instead of executing the full reconcile steps in every reconcile trigger.

We need to rethink "stages/checkpoints" in our reconcile logic. This might also need modfications to the status design too.

What I suggest is to create a design doc on this and we can colaborate/reason out an improved reconcile flow

[2021-07-02 10:17] #344 closed

[2021-07-05 09:15] #163 closed

[2021-07-06 15:48] sm43 opened #352 "Add schema to operator crds"
Operator crds don't have any schema defined in the definition.
we should add schema for all fields which would be useful with tool like `kubectl`, `oc`
to understand what fields are there in the resource.

Also look if we can auto generate crds.

Ref https://github.com/tektoncd/triggers/pull/1265

[2021-07-06 17:12] vdemeester commented on #352
/kind feature

[2021-07-08 12:38] dbazhal commented on #209
Also i remembered nice example of how run objects pruning should be handled and it is openshift build operator handling builds cleanup for buildconfigs(straight analogy for pipelines and pipelineruns).
https://docs.okd.io/latest/cicd/builds/advanced-build-operations.html#builds-build-pruning_advanced-build-operations

this is how build(run) handles it's objects prune:
https://github.com/openshift/

[2021-07-09 13:23] #149 closed

[2021-07-12 05:06] sm43 opened #357 "Updating pipelines fields in TektonConfig doesn't reflect in pod"
https://github.com/tektoncd/operator/pull/314 provides fields in CR to update pipeline configmaps. It updates the config map but the controller pod is not recreated so the values in config map doesn't reflect in the pod.

The controller pod should be recreated if values are updated in config map.

Possible Solution:
https://github.com/tektoncd/operator/blob/ad8ac69661c197a35cada1ef263695a7659bd6c3

[2021-07-12 05:07] sm43 commented on #357
/help-wanted
/good-first-issue
cc @nikhil-thomas

[2021-07-12 07:43] sm43 opened #358 "Changing profile in TektonConfig doesn't reflect on components"
# Expected Behavior
changing profile should reflect on components
In case of OpenShift
changing profile from `all` to `basic` should delete the tekton addon resource

# Actual Behavior

changing profile doesn't have any effect on components.

# Steps to Reproduce the Problem
Tested on Openshift but I think would be similar on Kubernetes platform too
1. Install Operator (by default it will install

[2021-07-12 08:22] sm43 commented on #357
the pipeline controller read the updated cm values so it seems we dont need to delete the pod 😄
[code]
/close

[2021-07-12 08:22] #357 closed

[2021-07-14 04:13] sm43 opened #361 "Add validation for nodeSelector and toleration for TektonConfig in Webhook"
https://github.com/tektoncd/operator/pull/338 adds support for configuring node for pods created by operator controller using `nodeSelector` and `toleration`.
We have a webhook where we can validate if the values passed by user are valid for the fields.

- for nodeselector we can reuse validation code from [here](https://github.com/kubernetes/kubernetes/blob/d6f2473d081fba803898a6240b841c2d7f2bd1f

[2021-07-16 05:41] sm43 opened #365 "Prefix `tekton-operator-` to all resource name and add consistent labels for Operator resources"
We should have `tekton-operator-` as prefix for all resources created for operator sa it would easy to recognize.
for eg.
https://github.com/tektoncd/operator/blob/main/config/base/config-logging.yaml
https://github.com/tektoncd/operator/blob/main/config/base/tekton-config-defaults.yaml
In case of openshift, there might be multiple operator in single namespace to name might conflict.

Also we shou

[2021-07-16 05:42] sm43 commented on #365
/kind good-first-issue
/help-wanted

[2021-07-21 11:18] sm43 opened #368 "TektonConfig object gets created without any default values"
Sometimes, webhook takes time to start and if the controller is started before it
it will create a `TektonConfig` object
but as webhook is not started the object will not have any default values.

[code]

[2021-07-23 09:14] nikhil-thomas commented on #368
Oh!. Looks like we need a poll for webhook with retries and timeout in the autocreation logic.

[2021-07-23 09:20] vdemeester commented on #368
On the pipeline controller, we do pass all the object through the default when we fetch them, to make sure they get defaulted, even if they did not get through the validation (old object, …)

[2021-07-23 09:24] nikhil-thomas commented on #333
yeah, CRC single node VM cluster sounds like a good starting point. 🧑‍💻 👍
Then minimum [hardware requirements](https://access.redhat.com/documentation/en-us/red_hat_codeready_containers/1.29/html/getting_started_guide/installation_gsg#minimum-system-requirements-hardware_gsg) are:
[code]

[2021-07-23 09:29] nikhil-thomas commented on #368
Thanks @vdemeester

ref: https://github.com/tektoncd/pipeline/blob/8907e408c73480482c618d08eeaaefe0bd4aac68/pkg/reconciler/taskrun/taskrun.go#L270

/good-first-issue

[2021-07-23 20:54] aelbarkani commented on #173
sorry for being so pushy @vdemeester @nikhil-thomas, but any chance to get soon a newer version of the operator for OKD :) ?

[2021-07-26 05:14] vinamra28 commented on #368
/assign

[2021-07-28 16:27] arendej opened #370 "request: solve for resource contention"
The resources generated by and consumed in cluster, relying on Kubernetes etcd, can get quite numerous, resulting in overburdening the K8s control-plane and potentially grinding etcd to a halt.
Perhaps provide some default resource quotas or limits as part of the operator to help the tekton operator cause less of a noisy-neighbour in Kubernetes clusters.

[2021-07-29 07:09] vdemeester commented on #370
/kind feature

[2021-07-31 04:22] sm43 commented on #320
#314 was updated to pass the configuration through CR spec and the fields are documented [here](https://github.com/tektoncd/operator/blob/main/docs/TektonConfig.md).
/close

[2021-07-31 04:22] #320 closed

[2021-08-02 14:44] vdemeester opened #372 "AffinityAssistant configuration on OpenShift not taken into account"
# Expected Behavior

Changing the TektonPipeline configuration `disable-affinity-assistant` to `false` is taken into account under OpenShift and the affinity assistant is enabled.

# Actual Behavior

Changing the TektonPipeline configuration `disable-affinity-assistant` to `false` is not taken into account, it is forced to `true` by the controller (see [here](https://github.com/tektoncd/operator/b

[2021-08-03 02:58] sm43 commented on #372
yep you are correct.
webhook by default will enable `affinity-assistant`
for OpenShift, we disable it in extension
in case of OpenShift while reconciling we don't know if it was disabled by webhook (as it set false as default value if not set) or user
so we need to find a way where we know that it was changed by user to false and not webhook 😄

[2021-08-03 07:22] vdemeester commented on #372
@sm43 indeed 👼🏼
I think we shouldn't default the options in CR ; that way we know if the user explicitly did set them and thus we can override the `tektoncd/pipeline` configuration based on that, on any platform.

[2021-08-04 13:15] ghost opened #374 "Delete old resources during upgrade when a component no longer includes them"
### Feature request

When a component removes a resource from their release build it would be great to have that resource removed during operator's upgrade cycle.

### Use case

In Tekton Pipelines 0.19 we introduced a `PodDisruptionBudget` object to try and support "high availability" out of the box. Later, in 0.22, we removed the PDB because it became apparent that it could block node draining i

[2021-08-06 06:10] #329 closed

[2021-08-09 07:52] nikhil-thomas commented on #374
This is definitely something we need as part of "seamless upgrades" story.

This is definitely a feasible approach. However, we will have to make sure that we don't delete CRDs, as we don't want all Pipeline, Triggers CRD instances to be lost. I assume it will be totally safe to remove all the namespaced resources in `tekton-pipelines` and then recreate them. We can even consider settting up a new

[2021-08-09 07:53] nikhil-thomas commented on #374
cc @sm43

[2021-08-10 10:02] sm43 commented on #372
/assign

[2021-08-12 12:27] nikhil-thomas commented on #319
/help wanted

[2021-08-12 17:32] imjasonh commented on #319
@priyawadhwa FYI

It could be useful even just to sketch out what would config be needed for the operator to install and setup Chains. What inputs to the Operator would be needed to [setup Chains](https://github.com/tektoncd/chains#setup), and how many of those steps can be automated?

[2021-08-16 19:25] cgruver opened #381 "Buildah in Tekton task is failing with: unshare(CLONE_NEWUSER): Invalid argument"
buildah version: multiple (1.16, 1.21, 1.22)

Tekton Pipelines version 1.22 (OpenShift Pipelines 1.4.1)

We have observed three OpenShift clusters where buildah starts failing with the following errors:

[code]

Once it starts failing, it always fails.  We don't believe that the issue is directly related to buildah, but hope that someone might have a clue.  It's almost like underlying permissions

[2021-08-17 06:08] sm43 commented on #381
@vdemeester @nikhil-thomas

[2021-08-17 09:43] PuneetPunamiya commented on #358
/assign

[2021-08-17 20:20] cgruver commented on #381
Closing this as we are pretty sure that this has nothing to do with Pipelines.  It looks like something more fundamental to the OpenShift cluster.

[2021-08-17 20:20] #381 closed

[2021-08-20 05:45] #372 closed

[2021-09-02 05:44] PuneetPunamiya opened #396 "Tekton Triggers is not installing using `make apply` with latest triggers release v0.16.0"
# Expected Behavior

Tekton Triggers components should be installed  with the latest release of Tekton triggers

# Actual Behavior

Tekton Triggers components are not installing with the latest release of Tekton triggers

# Steps to Reproduce the Problem

1. `make apply`
2. Once the tekton operator pods are up and running, you should see the following log
[code]

# Additional Info

- Kubernetes ve

[2021-09-02 08:25] #396 closed

[2021-09-03 08:03] MarcusNoble opened #399 "Read-only option for Dashboard"
### Feature request

Provide a parameter to install the dashboard in a read-only state.

### Use case

We offer the dashboard as viewable by everyone in the company but don't want them to be able to perform any changes or trigger any pipelines.

[2021-09-03 08:24] nikhil-thomas opened #400 "[Question] Should we make all components common for all platforms"
At present some of the components are common to all target platforms. Components like TektonDashboard, TektonResults are not included in the builds for all platforms.

Questions

1. should we make all commponents common to all platforms in this tektoncd/operator repository.
2. if we do make everything common how do we disable a few components for a specific build if needed.

Additional Context: ht

[2021-09-03 08:27] vdemeester commented on #400
Short answer : Yes 🙃
It makes little sense to have an inconsistency in what the operator provides on different platforms.

With the concept of profiles, and individual CR (TektonPipeline, …), does it make sense to disable some components for a specific build ?

[2021-09-03 11:53] #358 closed

[2021-09-03 12:16] nikhil-thomas opened #401 "Improve TektonConfig e2e tests"
At present, TektonConfig e2e tests use timeout to ensure that TektonConfig instance is autocreated.

We need to refactor this test to make it more predictable.

May be a proper polling setup instead of a timeout is what we need.

Also, After https://github.com/tektoncd/operator/pull/385 merges we can depend on the updated status conditions to check for TektonConfig instance status before continuin

[2021-09-03 14:12] nikhil-thomas commented on #399
@MarcusNoble Thank you for expressing interest in taking this up (in the slack thread) :slightly_smiling_face: :+1:

Let me add some details to get you started. :technologist:

First we have to bring in the `readonly` dashboard release.yaml in addition to release.yaml fetched currently, by editing [this](https://github.com/tektoncd/operator/blob/dcf6156122cd8389673623640b3433d94b83d208/hack/fetch-

[2021-09-06 10:06] nikhil-thomas commented on #401
https://github.com/tektoncd/operator/pull/307#discussion_r702767546

[2021-09-09 08:56] wzhanw opened #407 "Result component was not installed when set the installation profile as all"
### Feature request
The Tekton result component was not installed when set the installation profile as all.
is this by design？

I see the results installation requires some prerequisites.  I segguest we can document in this readme and let user finish them before the installation if he wants all the components.

### Use case
Installed the Tekton with below installConfig,  assume all components shou

[2021-09-09 09:28] #399 closed

[2021-09-13 09:46] PuneetPunamiya commented on #319
/assign

[2021-09-15 09:10] XiaoBoya opened #409 "use operator to install pipeline failed after uninstall it"
# Expected Behavior
1.install pipeline(success)
2.uninstall pipeline(success)
3.install pipeline(success)

# Actual Behaviord
1.install pipeline(success)
2.uninstall pipeline(success)
3.install pipeline(failed)

# Steps to Reproduce the Problem

1.install pipeline
2.uninstall pipeline
3.install pipeline

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton

[2021-09-16 06:47] sm43 commented on #409
Hi @XiaoBoya, Thank you for reporting issue.
I just have few question
- what version of Operator are you using?
- On which platform are you facing the issue? OpenShift/Kubernetes?
- How are you installing pipelines using `TektonPipeline` CR or `TektonConfig` (which is by default recommended way)

[2021-09-16 06:52] sm43 commented on #407
@wzhanw Thank you for the feature request.
Yeah Tekton results were recently added as an optional component for installation In Operator. The installation process does have some pre-requisites and documented [here](https://github.com/tektoncd/operator/blob/main/docs/TektonResult.md).
Profiles were defined before Results were added to operator but it could be part of `all` profile or we can define

[2021-09-16 07:02] vdemeester commented on #407
Name being `all`, it probably should be yes 🙃

[2021-09-16 17:53] XiaoBoya commented on #409
0.23.0-2

k8s

apiVersion: operator.tekton.dev/v1alpha1
kind: TektonPipeline
metadata:
  name: pipeline
spec:
  targetNamespace: operators

[2021-09-20 09:41] sm43 opened #413 "Read component version from configmap instead of CRD label"
In the recent refactoring while starting the controller we read the version of component from CRD label
but we also have a config map added to all components which has the version of that component.
The configmap was added so that client like tkn can read the version of component.

In Operator we can do the same instead of reading from CRD we should read from configmap

from controller we make a c

[2021-09-21 10:55] #368 closed

[2021-09-23 09:55] vinamra28 commented on #413
/assign

[2021-09-23 13:42] hokadiri opened #420 "Ability to configure controller cmd line args in operator"
### Feature request
Implement a way to configure controller cli args in operator.

### Use case

I configure/deploy my pipeline controller via the [release.yaml](https://tekton.dev/docs/pipelines/install/) way. With that, i'm able configure the controller cmd line args e.g [performance cli args](https://tekton.dev/docs/pipelines/tekton-controller-performance-configuration/) or [others](https://git

[2021-09-24 09:38] sm43 opened #424 "Refactor TektonComponent with new refactoring changes"
With recent refactoring of Operator, we have disabled `TektonComponent` as we have changed the status
for components and condtion used in status for them.

We can refactor the `TektonComponent` with the common things which are there in all components now and so that
there will be uniformity between all components method.

Refactoring PRs https://github.com/tektoncd/operator/pull/385, https://githu

[2021-09-24 12:36] sm43 opened #425 "TektonInstallerSet created have each resource twice"
When we read resources from ko data and create installer set, the installer set has 2 copies of each resource.

for eg,
In addons, for clustertasks, when we read clustertasks from kodata [here](https://github.com/tektoncd/operator/blob/3c77c775a7464cb8fd42e4addace86298d5d39df/pkg/reconciler/openshift/tektonaddon/tektonaddon.go#L329) -> it calls [`applyAddons`](https://github.com/tektoncd/operator/

[2021-09-25 09:01] ronaldslc opened #427 "Customize config-artifact-pvc"
### Feature request

Currently a custom config-artifact-pvc will be overwritten in a situation similar to https://github.com/tektoncd/operator/issues/149

### Use case

Define default storage class name and size without it being overwritten by operator

[2021-09-27 03:28] sm43 commented on #425
/assign

[2021-09-27 09:27] AverageMarcus opened #429 "cannot decode incoming new object: json: unknown field "subresource" (Kubernetes 1.22)"
# Expected Behavior

Successful installation of Tekton via the Operator TektonConfig CRD

# Actual Behavior

Error produced when applying the CRD:

[code]

# Steps to Reproduce the Problem

1. On Kubernetes 1.22 install Tekton Operator
2. Attempt to apply a new TektonConfig CR

# Additional Info

- Kubernetes version: 1.22

- Tekton Pipeline version: N/a

- Tekton Operator version: 0.49.0

I _thin

[2021-09-27 12:17] #425 closed

[2021-09-29 06:53] nikhil-thomas opened #431 "Handling installation of a component when a cluster doesn't support webhooks"
We need a to disable webhooks while the oeprator is used to install Tekton Components on a Kubernetes Cluster which does not support (or give acces to) webhooks.

### Use case

- [Validate Tekton works with GKE Autopilot #3798](https://github.com/tektoncd/pipeline/issues/3798)

[2021-09-29 07:00] nikhil-thomas commented on #431
One approach to handle this is to add a config field in the TektonConfig CRD to enable/disable webhooks

Ref:
- [TektonConfig CRD example](https://github.com/tektoncd/operator/blob/main/config/crs/kubernetes/config/all/operator_v1alpha1_config_cr.yaml)
- [TektonConfig CRD definition](https://github.com/tektoncd/operator/blob/main/config/base/300-operator_v1alpha1_config_crd.yaml)
- [TektonConfig C

[2021-09-30 09:24] sm43 commented on #431
Does this require that we disable the Operator webhook also?
and from the payload before applying filter out all webhook and its related resources?

[2021-10-04 06:45] nikhil-thomas commented on #431
yup, this will have to disable both operator's webhooks and the webhooks from components (triggers, pipelines...) managed by the operator.

[2021-10-04 06:48] nikhil-thomas commented on #431
@sm43 may be not all "webhook configurations"

ref: https://github.com/tektoncd/pipeline/issues/3798#issuecomment-932339102

[2021-10-05 06:38] nikhil-thomas opened #433 "Operator Should Recreate CRDs (PipelineRun, Task, TriggerBinding...) if they are deleted"
### Feature request

At present, the operator reconcilers do not watch CRDs. Therefore if the component CRDs gets deleted for some reason the operator reconcilers will get be notified. We need to make the reconcilers watch CRDs as well so that events on CRDs owned by a components will trigger a reconcile loop.

[2021-10-05 06:51] PuneetPunamiya commented on #433
/assign

[2021-10-05 09:07] vdemeester commented on #433
What happens if the CRD exists but has been modified (by another component) ? (for example adding new versions, … that are not supported yet) Do we want to handle this or do we stop at re-creating them (meaning, in that case, we would have to delete CRDs.. — which make sense)

[2021-10-06 06:06] nikhil-thomas opened #437 "Rename `manifests` dir which stores bases for Operator Bundle generation"
At present, the static base files (seed data) used by [bundle generation tool](https://github.com/tektoncd/operator/blob/main/operatorhub/tools/bundle.py) is stored in a directory with name [manifests](https://github.com/tektoncd/operator/tree/main/operatorhub/kubernetes/manifests) (following [operator-sdk convention](https://github.com/operator-framework/operator-sdk/tree/master/testdata/go/v3/me

[2021-10-06 06:19] savitaashture commented on #437
/assign

[2021-10-07 05:34] lihihason opened #438 "Installing Tekton Operator With Configuration Changes"
### Discussed in https://github.com/tektoncd/operator/discussions/435

<div type='discussions-op-text'>

<sup>Originally posted by **lihihason** October  5, 2021</sup>
Hi,

I am trying to deploy the Tekton Operator (profile: all) on EKS kubernetes cluster.

1. Does the operator support creating Ingress for the dashboard (and change the service type to NodePort instead of clusterIp)?
2. In case i w

[2021-10-07 06:16] #438 closed

[2021-10-07 08:22] lihihason opened #439 "Ingress for Tekton Dashboard"
### Feature request
Add support for configurable Ingress for Tekton Dashboard in Tekton Operator
(and change the service type to NodePort instead of clusterIp in this case)

### Use case
We are using AWS EKS cluster and we want the ability to create ingress to the Tekton Dashboard in our case AWS ALB

[2021-10-08 07:52] nikhil-thomas commented on #374
/close

[2021-10-08 07:52] #374 closed, assigned to nobody

[2021-10-13 13:18] rhatdan opened #448 "tektoncd operator working with podman on a MAC."
Could tekton search for container registries login information in both
~/.config/containers/auth.json as well as ~/.docker/config.json since Podman on a MAC uses this location for storing its credentials.
This would fix this bug.
https://github.com/containers/podman/issues/11923

[2021-10-13 13:48] imjasonh commented on #448
[Looking at the code](https://github.com/google/go-containerregistry/blob/72ae53c6cd6746b48ee64f08aa8b504d4d975a00/pkg/authn/keychain.go#L65), you should be able to workaround this in the meantime by setting `DOCKER_CONFIG=~/.config/containers/auth.json`.

[2021-10-15 06:46] vdemeester commented on #285
/remove-lifecycle stale

[2021-10-20 03:44] daixijun opened #457 "operator v0.50.0 enalbe tekton-dashboard fail."
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

- Kubernetes version: v1.21.1

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version: v0.28.2

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Tekton Operator ve

[2021-10-20 06:09] vdemeester commented on #457
/cc @sm43 @nikhil-thomas

[2021-10-23 06:11] #429 closed, assigned to nobody

[2021-10-25 08:28] nikhil-thomas opened #465 "Improve 'operator-fetch-component-releases' Task"
At present, the Task definition of the [operator-fetch-component-releases](https://github.com/tektoncd/operator/blob/c315365eb1f64c1655e9b1910ed9a417abed9cad/tekton/task-fetch-components.yaml#L29) has the entire logic defined as a script task step. This makes keeping this uptodate with the [original script](https://github.com/tektoncd/operator/blob/main/hack/fetch-releases.sh) used in `make apply`

[2021-10-25 08:30] #457 closed, assigned to nobody

[2021-10-26 21:50] githubcdr opened #468 "tekton operator fails to deploy dashboard"
# Expected Behavior

The dashboard is not deployed via the operator with "all" profile

# Actual Behavior

[code]

# Steps to Reproduce the Problem

Follow operator install instructions with "all" profile.

# Additional Info

- Kubernetes version:

1.22.1

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=

[2021-10-28 08:08] nikhil-thomas opened #475 "Maintain TektonCD defaults and Platform specific defaults in the operator"
At present, we do not have a standard way to specify default values (eg: installation-namespace `targetNamespace: tekton-pipelines`) in the operator builds and operator codebase.

Platform specific customization change some of the defaults. Then we lose the original defaults.
eg: on OpenShift builds, the default installation namespace is `targetNamespace: openshift-pipelines` but then there is no

[2021-10-28 08:40] nikhil-thomas opened #476 "Improve/Add Unittest helpers for expected/observed yaml comparissons"
At present, in the transformer unit tests assertions are not uniform.

The end transformation is verified in each tests based on the logic of the transformer. This means, knowledge of the internal working of the transformer is needed to write the assertion part of each unit test.

examples:
- https://github.com/tektoncd/operator/blob/4a5e82f67daa2f1a52fcd36b794af43a785d988f/pkg/reconciler/common/t

[2021-11-02 07:42] dennisfischer commented on #468
The PR is merged, but it looks like the latest release did not contain the cherry-picked change? I'm still running into the same error as above with v0.50.1

Image used: `gcr.io/tekton-releases/github.com/tektoncd/operator/cmd/kubernetes/operator:v0.50.1@sha256:17b929be5820848b7dea3bc80f6a257486c0a004e08768d56da936f50521ceff`

However, when looking at the release notes it appears as if the changes

[2021-11-03 14:07] topijag commented on #468
I don't see the error anymore on `v0.50.1` but I don't see the dashboard installed either by using profile `all`.
Is it somewhere else that it needs to be enabled?

[2021-11-04 08:53] vdemeester commented on #468
I can reproduce with `v0.50.1` indeed 🤔 Looking into this.

/assign

[2021-11-04 08:55] vdemeester commented on #468
`/var/run/ko/HEAD` is missing too.. 🤔

[2021-11-04 09:15] vdemeester commented on #468
Alright, there is a different way to fetch release payload from "in dev" and in the "release" script.. which is a problem. And we have either the fullaccess image or the readonly one in release, which is a problem too.

[2021-11-04 10:10] vdemeester commented on #468
Few PR to fix.
- https://github.com/tektoncd/operator/pull/487
- https://github.com/tektoncd/operator/pull/488
- https://github.com/tektoncd/operator/pull/489

I am doing a 0.50.2 and 0.51.1 releases 😉

[2021-11-04 10:17] topijag commented on #468
Thanks @vdemeester for the fix, the same issue is for `v0.51.0`

[2021-11-04 11:03] vdemeester commented on #468
@topijag yep, expect 0.50.2 and 0.51.1 releases in a few hours (if not earlier 😉 )

[2021-11-04 12:07] vdemeester commented on #468
https://github.com/tektoncd/operator/releases/tag/v0.51.1 and https://github.com/tektoncd/operator/releases/tag/v0.50.2 released, we should be able to close this issue 👼🏼

[2021-11-04 12:07] #468 closed

[2021-11-04 14:04] vdemeester opened #491 "HorizontalPodAutoscaler on webhooks is getting "denied" by the operator"
# Expected Behavior

When the Tekton Pipelines component is configured with an HorizontalPodAutoscaler (which is default for the webhook), the replicas created / issued from this are not overriden / denied by the operator reconciler loop.

# Actual Behavior

Today, if the HorizontalPodAutoscaler updates the replicas number (because of load for example), it gets *almost automatically* reseted to 1

[2021-11-04 14:04] vdemeester commented on #491
The operator should probably *ignore* replicas change on the deployment (all deployment) 👼🏼

[2021-11-08 05:35] sm43 opened #496 "Allow unknown resources to install if predicate is not defined in TektonInstallerSet"
Currently, in TektonInstallerSet we define predicates for all resources we want to install throught TektonInstallerSet
for example.
https://github.com/tektoncd/operator/blob/35c7ea4f3e55bf2a655f8b9357dd3be58017fdbe/pkg/reconciler/kubernetes/tektoninstallerset/install.go#L31

but if a resource is newly added in release yaml or we define in any Tekton Component reconciler and pass to InstallerSet.
I

[2021-11-08 05:35] sm43 commented on #496
/kind good first issue
/kind help wanted

[2021-11-08 05:39] sm43 commented on #496
/good-first-issue
/help-wanted

[2021-11-08 09:29] sm43 opened #497 "Validate Component CR name in webhook"
all Operator CRDs are clusterscoped and we allow only one instance per component to be created.
for example. to install TektonPipeline, the CR has to be created by name `pipeline` and if it is something different then
we set the status to not ready with error msg here
https://github.com/tektoncd/operator/blob/c2e1245b3da591e7c0bbb2e2c892ce88bd169e09/pkg/reconciler/kubernetes/tektonpipeline/tektonp

[2021-11-11 05:39] PuneetPunamiya commented on #497
/assign

[2021-11-17 02:36] #497 closed

[2021-11-23 03:52] sm43 commented on #352
Ref https://github.com/tektoncd/triggers/pull/1265
/good-first-issue
/help-wanted

[2021-11-23 14:54] rupalibehera commented on #476
/assign @rupalibehera

[2021-11-24 07:18] sm43 commented on #491
/assign

[2021-11-30 10:24] nikhil-thomas opened #537 "Webhook validation blocks Delete events on instances of Operator's CRDs"
If the operator-webhook deployment is down all delete events on instances of operator's CRDs (eg: TektonInstallerSet) waits indefinitely.

# Expected Behavior

`kubectl delete tektoninstallerset <name>` works even when the tekton-webhook deployment is down

[2021-11-30 10:24] nikhil-thomas commented on #537
cc @sm43

[2021-11-30 11:43] nikhil-thomas commented on #537
[code]

it turns the service was also down.

Hence, this is not an issue.

[2021-11-30 11:43] #537 closed

[2021-12-01 05:00] #491 closed

[2021-12-01 07:25] nikhil-thomas opened #539 "Add an `operator-info` config map in "targetNamespace""
### Feature request

Operator can add an `operator-info` config map in the namespace where Tekton components are installed (targetNamespace). So that we can try to support printing Operator version in the output of `tkn version` command.

### Use case

While working from CLI there is no easy way to find version of operator. This is important especially on OpenShift as the operator version indicate

[2021-12-01 07:29] nikhil-thomas commented on #539
Related issue in Tekton CLI: Add Operator version in the output of tkn version command #1473

[2021-12-01 10:16] vdemeester opened #540 "Release OpenShift target as well as k8s one"
We do support kubernetes and OpenShift targets for the operator, but we only release it for kubernetes (a.k.a. there is only kubernetes target payloads released and image pushed).

This issue is proposing to do the same for the OpenShift target, and publish OpenShift specifics at release time.
This loosely depends on #333

/kind feature

[2021-12-01 10:17] vdemeester commented on #540
/cc @tektoncd/operator-maintainers

[2021-12-01 22:43] nikhil-thomas commented on #540
/assign

[2021-12-02 10:07] vdemeester commented on #400
We might migrate this to a conversation 😛 but this is still the case.

[2021-12-02 22:52] nikhil-thomas commented on #224
implemented by https://github.com/tektoncd/operator/pull/307

[2021-12-02 22:52] #224 closed

[2021-12-02 23:45] nikhil-thomas opened #543 "Helm chart for installing Tektoncd using Tektoncd/operator"
At present, 2 ways to install Tektoncd/operator are:

- kubectl apply <githhub relese.yaml>
- from operatorhub.io (for this a user will have to install [OperatorLifecycleManager](https://github.com/operator-framework/operator-lifecycle-manager) on a cluster first)

I think providing a helm chart for operator will be an improvement compared to the available options, as it would help us leverage an

[2021-12-02 23:47] nikhil-thomas commented on #346
@sm43 does the recent refactoring of the reconcilers address this.
if yes, let us close this. 🧑‍💻

[2021-12-02 23:47] nikhil-thomas commented on #346
/remove-lifecycle stale

[2021-12-03 00:38] nikhil-thomas commented on #331
/lifecycle frozen

[2021-12-03 00:43] #465 closed

[2021-12-03 00:50] nikhil-thomas commented on #433
i think it this case, we stick to our genereal policy: 'the operator resets to safe tested defaults' 🧑‍💻 😇

[2021-12-03 00:57] nikhil-thomas commented on #496
Note: this PR https://github.com/tektoncd/operator/pull/542 depends on the "Feature" addressed by this issue.
That is the pr filters out PodSecurity policy with the expectation that no "Finally"or "Defalult"case down the road will create it.

@vdemeester
I agree.
So I think a decent compromise for handling this situation is to log it and if possible mention the items which were "not installed" in

[2021-12-03 01:01] nikhil-thomas commented on #361
/remove-lifecycle rotten

[2021-12-03 01:02] nikhil-thomas commented on #365
/remove-lifecycle stale

[2021-12-03 01:03] nikhil-thomas commented on #543
Related to https://github.com/tektoncd/operator/issues/287

[2021-12-03 01:08] nikhil-thomas commented on #294
@savitaashture @vdemeester is this issue still valid. 🧑‍💻 As TektonInstallerSet ensusers seamless upgrade of all resources except CRDs by doing "replace"(delete- create) instead of in-place upgrade.

What we can add is an upgrade test in our e2e tests (or release tests) where the operator tries to ugrade from n-1 release version.

[2021-12-03 01:10] nikhil-thomas commented on #427
@sm43 Did we take care of this as part of the efforts to expose settings in configMaps through TektonConfig CRD spec

[2021-12-03 01:16] nikhil-thomas commented on #420
One way to handle this will be to follow what we do to support imageReplacements. We can support an environment variable  (eg: `CLI_PARAM_TEKTONCD_PIPELINE_CONTROLLER`) on operator controller deployment and use that to modify cli arguments for payload deployments (eg: tektoncd-pipelines-controller)

However, a cleaner way to do this will be to support this as a parameter in TektonConfig spec(per c

[2021-12-03 01:17] nikhil-thomas commented on #409
@XiaoBoya are you facing this issue with the recent releases

[2021-12-03 16:10] vdemeester commented on #294
Agreed, aside from a e2e tests, this is probably close-able

[2021-12-05 22:56] nikhil-thomas commented on #401
looks like this is issue is obsolete as e2e tests have an explicit polling check for TektonConfig instance status ([here](https://github.com/tektoncd/operator/blob/030e7e5ff9e8461f6ab56287cee3a539dc67a938/test/e2e/common/tektonconfigdeployment_test.go#L80)).

However, we could replace the '[sleep 30](https://github.com/tektoncd/operator/blob/030e7e5ff9e8461f6ab56287cee3a539dc67a938/test/e2e-tests.

[2021-12-05 22:56] nikhil-thomas commented on #401
/remove-lifecycle stale

[2021-12-06 04:50] PuneetPunamiya commented on #539
/assign

[2021-12-08 04:52] sm43 opened #546 "Add labels-exclusion-pattern feature flag for triggers in Operator"
Triggers has a new field in feature config map `labels-exclusion-pattern` which isn't there in TektonConfig or TektonTrigger CR for users to configure it.

new field: https://github.com/tektoncd/triggers/blob/aa30266234055e5d8aa373551e27f7ca885390e7/config/config-feature-flags.yaml#L29

Reference:
https://github.com/tektoncd/operator/pull/411

/help-wanted
/good-first-issue

[2021-12-08 05:03] ShivamTyagi12345 commented on #546
I would like to help with this issue

[2021-12-08 05:34] sm43 commented on #546
hi @ShivamTyagi12345 sure. Thank you 🙂
I will assign this to you.
/assign @ShivamTyagi12345
Please go through https://github.com/tektoncd/operator/pull/411 this is similar to what we need to do for this issue.
- We need to add a new filed for `labels-exclusion-pattern` [here](https://github.com/vinamra28/operator/blob/7ec2c86447da47d6a3ec227ffcfa87e29f4959c9/pkg/apis/operator/v1alpha1/tektontrigge

[2021-12-08 05:42] sm43 opened #548 "Refactor TektonResults to use TektonInstallerSet for installation"
Now, we have all components except tektonresults using tektoninstallerSet for installing resources.
We want to move all components to using that.

Ref https://github.com/tektoncd/operator/pull/509

/help-wanted

[2021-12-08 05:42] sm43 commented on #548
/kind feature

[2021-12-08 05:43] sm43 commented on #548
/assign @vinamra28
Thank you 🙂

[2021-12-08 05:43] vinamra28 commented on #548
/assign

[2021-12-13 23:46] nikhil-thomas opened #561 "Requeue and Retry Tektoncd Pipeline upgrade if there are active TaskRuns"
### Feature request

The operator should make sure that there are no active TaskRuns before carrying out a Tektoncd Pipeline upgrade.

### Use case

Internal changes in Tektoncd Pipeline could break active TaskRuns after an upgrade. For example: If we add/filtering of Pods in Pipelines controller, Pods created by an older version of Pipelines controller will not be visible to a newer Pipelines con

[2021-12-13 23:47] nikhil-thomas commented on #561
we can think of a more generic check, something like `is_upgrade_ready()` for each component (Pipelines, Triggers, Hub...) to make sure that necessary housekeeping tasks are carried out before the operator rollsout a component upgrade.

[2021-12-13 23:55] nikhil-thomas commented on #543
/assign

[2021-12-14 04:55] #306 closed

[2021-12-14 08:59] #278 closed

[2021-12-14 11:01] #318 closed

[2021-12-14 12:02] #254 closed

[2021-12-15 02:15] XiaoBoya opened #562 "no limit for tektonpipeline cr name"
### Feature request

Will the limitation of cr name during installation of tektonpipeline be removed in the future?

### Use case

I want to add the tekton operator to the operatorhub on the intranet, but I need to fill in the cr name when instantiating it. If there is no restriction that the name must be 'pipeline', then I do not need to process the data in this input box with special rules.

[2021-12-16 01:23] nikhil-thomas commented on #562
Most probably, No, the limitation will not be removed in the future.

## More context:

- This limitation is our attempt to implement a "Singleton CRD" (a cluster wide CRD which can only have one valid instance on a cluster). We need this to make sure that there is only 1 set of Tekton-Pipelines (for example) controller and webhook on a cluster. At present, Tekton-Pipelines controler and webhook w

[2021-12-16 06:11] XiaoBoya commented on #562
thanks for reply

[2021-12-16 06:11] #562 closed

[2021-12-16 08:58] nikhil-thomas commented on #562
cc @sm43 @vdemeester

[2021-12-20 13:22] PuneetPunamiya opened #567 "Coloured Logs for Tekton Operator"
### Feature request

Currently operator logs have no color, hence it becomes difficult to debug by reading the logs

So based on the mode, i.e. Production or Development we can have colored logs for the development mode
where it becomes easy to read the logs and for the production logs we can have the same it as we have now

For example :

![image](https://user-images.githubusercontent.com/3254563

[2021-12-23 04:27] #352 closed

[2021-12-26 08:42] #370 closed

[2021-12-28 13:57] dirien commented on #543
Hi @nikhil-thomas, if you need help let me know! I am so looking forward to this!

[2022-01-02 00:19] #346 closed

[2022-01-04 00:22] nikhil-thomas commented on #543
copy that 🧑‍💻 👍

[2022-01-04 00:25] nikhil-thomas commented on #431
/remove-lifecycle stale

[2022-01-05 23:17] nikhil-thomas commented on #424
/remove-lifecycle stale

[2022-01-05 23:19] nikhil-thomas commented on #424
@sm43 if you think all the reconcilers are ready to accept `TektonComponent` refactoring, then could you add a `help-wanted` label to this issue.

[2022-01-05 23:24] nikhil-thomas commented on #567
This will greatly help with debugging. @PuneetPunamiya if you are working on it, could you assign this issue to yourself. If not, could you add `help-wanted` label.

In addition, could you link in this issue thread relevant pull requests from [tektoncd/hub](https://github.com/tektoncd/hub) (and/or other relevant resources).

## How about "Coloring based on reconcilers as well"

can we do coloring

[2022-01-06 00:56] sm43 commented on #424
once https://github.com/tektoncd/operator/issues/548 is done, we would be able to do that.

[2022-01-06 09:30] vdemeester commented on #439
/remove-lifecycle stale

[2022-01-12 13:47] sm43 opened #576 "Running each controller as a separate container"
Currently, we run all controller in a single container
https://github.com/tektoncd/operator/blob/main/cmd/kubernetes/operator/main.go
as we are adding new components the logs are getting more and more an it is getting difficult to debug and understand them.

We can run one controller per container
so
- one container for TektonConfig running its controller,
- one for TektonPipeline running its cont

[2022-01-12 13:47] sm43 commented on #576
cc @vdemeester @nikhil-thomas

[2022-01-12 20:29] illeatmyhat opened #577 "OLM can't perform dependency resolution when depending on Tekton/OpenShift Pipelines operator"
# Expected Behavior
When creating an Operator which depends on this operator (either through the [CSV `requires` field](https://olm.operatorframework.io/docs/tasks/creating-operator-manifests/#required-apis), or through the [`dependencies.yaml`](https://docs.openshift.com/container-platform/4.9/operators/understanding/olm/olm-understanding-dependency-resolution.html#olm-bundle-format-dependencies_

[2022-01-12 23:21] nikhil-thomas commented on #576
I think it is a great idea. I think this will greatly improve developer experience.

With the addition of TektonInstallerSet, the component lifecycle logs (something not found, fresh install, dependencies met...) come from individual component reconcilers and cluster operation logs (created, updated, deleted etc) comes from TektonInstallerSet reconciler logs.

👨‍💻 So even if we move just the Tekto

[2022-01-13 04:12] PuneetPunamiya commented on #567
/assign

[2022-01-13 04:13] PuneetPunamiya commented on #567
The idea regarding "Coloring based on reconciler as well" sounds great 👍🏻

[2022-01-17 00:44] nikhil-thomas commented on #287
/remove-lifecycle stale

[2022-01-17 00:56] nikhil-thomas commented on #577
I am assuming that you are on OpenShift 4.x. We have had other operators making the dependency work with the following in their CSV file.

[code]

If the operator we are talking about is the one on OpenShift Platform, then you can get immediate help on,
`openshift-pipelines` google chat or on `forum-tektoncd-pipelines` coreos slack.

[2022-01-17 22:45] tonygilkerson opened #580 "Ability to set priorityClassName in TektonConfig for resources created by the operator"
### Feature request

I would like to set the priorityClassName of resources created by the Tekton-Operator, i.e. tekton-dashboard and tekton-pipelines-controller deployments.  It would be nice to enable this in the TektonConfig as shown below in the yaml snipit.

[code]

### Use case

We need a way to protect core services even when the cluster is over allocated we do this with priority classes.

[2022-01-18 13:33] InfoSec812 opened #582 "CustomResourceDefinitions Do Not Have Metadata For "explain" response"
# Expected Behavior

Given that the Tekton operator is installed on an OpenShift cluster
When I execute `oc explain <TektonResource>`
Then I expect to see information documenting the API and Resources

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. Log on to an OpenShift cluster via CLI where Tekton is installed
2. Run `oc explain --recursive EventListener`
3. Note that there is n

[2022-01-18 13:34] InfoSec812 commented on #582
An example of a proper response would be:

[code]

[2022-01-19 01:02] nikhil-thomas commented on #582
**+** 💯
This can definitely improve developer experience.

We shall try to work with the TektonCD community and get this in for CRDs coming from each indidual projects (TektonPipeline, TektonTriggers...).

To start with we shall try to do this for the CRD definitions in operaotor (eg: TektonConfig).

- additional context:
- https://github.com/tektoncd/pipeline/pull/1179
- https://github.com/tekton

[2022-01-19 23:32] nikhil-thomas commented on #580
I think this will be a valuable feature. 🧑‍💻 👍

@tonygilkerson would a top level `spec.priorityClassName` in TektonConfig (common to all components) good enough. Is the per-component level filed an absolute necessity for your workflow.

We can also think about doing both. ie, a top level default and a per component specification if needed.

[code]

[2022-01-20 10:55] nikhil-thomas commented on #582
This PR: https://github.com/tektoncd/pipeline/pull/1776 is a good reference on how to generate it automatically.
In addition, Knative is doing it already.

[2022-01-20 18:41] dibyom opened #584 "Operator nightly build failed"
# Expected Behavior
Nightly build passes

# Actual Behavior
Nightly failed with a `CreateContainerConfigError`

URL: https://dashboard.dogfooding.tekton.dev/#/namespaces/tekton-nightly/pipelineruns/operator-release-nightly-hhtvk?pipelineTask=publish-images-platform-openshift&step=container-registy-auth&view=status

Step failure:
[code]

Pod Status:

[code]

# Additional Info

- Kubernetes version:

[2022-01-21 11:21] #539 closed

[2022-01-23 23:07] nikhil-thomas commented on #173
https://github.com/tektoncd/operator/tree/main/docs/release#tektoncd-operator-release

As mentioned here 👆we will be releasing tektoncd/operator every two weeks.
I think this must be a good enough resolution for this issue.

[2022-01-23 23:07] #173 closed

[2022-01-23 23:12] nikhil-thomas commented on #584
Recent nigltiles are passing :https://dashboard.dogfooding.tekton.dev/#/namespaces/tekton-nightly/pipelineruns/operator-release-nightly-9xj25?pipelineTask=git-clone&step=clone

this could be a flake.

[2022-01-23 23:20] nikhil-thomas opened #585 "Generate Tektoncd/Operator API Reference (for website)"

[2022-01-23 23:25] nikhil-thomas opened #586 "Generate Tektoncd/Operator API Reference (for website)"
There is a PR in Tektoncd/Pipelines (https://github.com/tektoncd/pipeline/pull/4494) which uses this tool (https://github.com/ahmetb/gen-crd-api-reference-docs/) to generate markdown API reference.

This issue is created as a tracker to implement similar markdown API docs generation for Tektoncd/Operator CRDs (TektonConfig, TektonPipeline etc).

Objective:
- set up necessary tooling/script changes

[2022-01-23 23:26] nikhil-thomas commented on #586
cc @savitaashture
this could be useful for Triggers as well 🧑‍💻

[2022-01-24 06:43] ibotty commented on #173
But the version on operatorhub is still 0.49.0 and not the recent (at the time of writing) 0.54.0.  The file mentioning the plan is much older than the last release so I think it's not handled that way yet.

[2022-01-25 21:22] jb-2020 opened #589 "Configurable resource limits/requests for CPU and memory"
### Feature request

Currently, the deployments for the operator and the corresponding Tekton components (e.g. `tekton-dashboard`) do not have resource requests.  Please provide a method of configuration or sane defaults for memory and CPU limits and requests.

### Use case

Rightsizing our Tekton resources.

[2022-01-26 07:23] nikhil-thomas opened #590 "Remove Status.Installerset fileld(s) from CRDs"
At present, CRDs like TektonPipeline, TektonTriggers, TektonDashboard etc, store name of the TektonInstallerSet Instances in their Status. This was required as the active TektonInstaller set was fetched (Get) using the "name"looked up from the Status.

But, now we use label based queries (LIst) to find TektonInstallerSets for any give componnent (or sub component). Therefore, may be we could depre

[2022-01-26 11:08] nikhil-thomas opened #591 "Move all defaulting to a (/the) common place"
This issue is to make sure that all defaulting logic is moved to the location where all the other defaulting logic lives.
For example: The following items could be something we can move to the [here](https://github.com/tektoncd/operator/blob/main/pkg/apis/operator/v1alpha1/tektontrigger_defaults.go)

-[https://github.com/tektoncd/operator/blob/eb53caf21f0eb83f7820ccd42accfa29de5caf1e/pkg/reconcile

[2022-01-26 15:55] vdemeester commented on #591
I am not sure to see the value, mainly because webhooks are not the greatest to manage. I think, the "problem" here is that similar defaulting happens in different places, whereas it should be happening at the same place.
Most likely, this means the code you link should be moved to https://github.com/tektoncd/operator/blob/main/pkg/apis/operator/v1alpha1/tektontrigger_defaults.go, so that's it can

[2022-01-27 05:07] nikhil-thomas opened #593 "Repalce fmt.Sprintf() labelSelector building with labels.NewSelector()"
`fmt.Sprintf("%s=%s,%s=%s", key, val, key, val)` pattern is used to create labelSelectors in multiple places in the codebase.

A cleaner way to create labelSelector is using `labels.NewSelector` (from k8s.io/apimachinery/pkg/labels)

This isssue is a tracker for code refactoring for labelSelectors.

more details:https://github.com/tektoncd/operator/pull/588#discussion_r793221277

[2022-01-27 08:24] PuneetPunamiya commented on #319
/remove-lifecycle stale

[2022-01-30 23:11] nikhil-thomas commented on #591
definitely a better way to say it. 🧑‍💻 👍

 ➕ 💯
 
 i shall update the issue descriptio (~Move all defaulting to webhook~ Move all defaulting to a (/the) common place)

[2022-01-30 23:14] nikhil-thomas commented on #475
/remove-lifecycle stale

[2022-01-30 23:28] nikhil-thomas commented on #589
could be addressed immediately 🧑‍💻 👍

there are 2 ways to approach this:

1. provide a way to customize this throught TektonConfig CRD or through some other customization mechanism (eg: a ConfigMap)
2. leave thsese fields in a deployment spec (limits and request) unmanaged, like we do with deployment `replicas` so that an end user can set it independently without being reset by operator.

[2022-01-30 23:28] nikhil-thomas commented on #589
related to https://github.com/tektoncd/operator/issues/580

[2022-01-30 23:32] nikhil-thomas opened #603 "Add sane defaults for memory and CPU limits and requests to workloads managed by this operator"
We need to set defaults for CPU and memory limit and requests to all the workloads (pods, jobs, deployments) managed by operator.

This could make the footprint of operator workloads more predictable. In addition, it could also make it convinient for our end user to budget resources on their cluster.

based on: https://github.com/tektoncd/operator/issues/589

[2022-01-31 14:20] nikhil-thomas opened #604 "[OpenShift] Use labelselectors instead of constant name string to query RBAC installerset"
Currently the "rbac" installerset uses the name "rbac-resources".
Instead of the constant name, it should be created using a name-prefix in "generatename".

This will standardize creation of TektonInstallerSets all over the code base interms of naming, labels & annotations and query mechanism in reconcilers.

Reference:
- how "rbac" installerSets are created now: https://github.com/tektoncd/operat

[2022-01-31 18:58] dibyom commented on #584
Yeah that was a flake. But now they are failing again. I think this is due to a timeout.

`PipelineRun "operator-release-nightly-4ks6f" failed to finish within "1h0m0s"`

Looks like the publish-images-platform-kubernetes and publish-images-platform-openshift both take 40mins. Maybe increase the timeout or parallelize them?

[2022-02-02 14:59] Obirah opened #610 "Make all used images configurable"
### Feature request

Currently the tekton operator and all the components it deploys use images from gcr.io - of course, this should remain the sane default, however when using the operator in an enterprise environment one needs to change the images so that mirrors can be used.

### Use case

In our corporate environment we use Artifactory in order to use remotes of the big image repositories like

[2022-02-03 11:03] #593 closed

[2022-02-10 09:31] nikhil-thomas commented on #610
This is currently doable in operator by setting environment variables. We do this while creating operator releases which is made available on Red Hat OpenShift.

Currently we can override images by setting environment variables like [this](https://github.com/tektoncd/operator/blob/e7b2e98e1993bf7522381ab160bbed43a1f4367a/operatorhub/openshift/release-artifacts/bundle/manifests/openshift-pipelines-

[2022-02-10 09:44] Obirah commented on #610
Cool, thank you for the information, that eases some pain! :) However, mid- and long-term I think it would be cooler to be able to configure this through custom resources. In my opinion the [ArgoCD operator](https://argocd-operator.readthedocs.io/en/latest/reference/argocd/) is a good example on how to approach this topic.

[2022-02-10 14:54] concaf opened #622 "Add support for rollback in case of upgrade failure"
### Feature request

Add support for rollback in case of an upgrade failure

### Use case

Today, when the operator is upgraded to a newer version, it tries to upgrade all of the components to newer versions as well OR replaces the resources in place. There might be times when the new installation is not successful for various reasons and in such cases, the operator should support rolling back to

[2022-02-10 17:46] imjasonh commented on #448
/close

[2022-02-10 17:47] #448 closed

[2022-02-11 15:46] srisek opened #623 "Add External Logs feature for dashboard in Tekton Config"
### Feature request

Request to add a feature in Tekton Config CRD to allow configuration of external logs for tekton dashboard.

### Use case

I am currently installing Tekton dashboard using Tekton operator. It would be good if, tekton config CRD can accept external logs as a spec field that will enable to configure URL for external logs, to avoid manual update of the configMap.

apiVersion: ope

[2022-02-15 19:10] jacksgt opened #624 "Customize namespaces of Webhooks"
Hello,

is it possible to change the location where the Webhooks are supposed to be deployed?

When installing the operator with the release YAML, I can change the location where the Webhook deployment and service are deployed.
However, the *expected* location (as indicated in the `ValidatingWebhookConfiguration` and `MutatingWebhookConfiguration`) is still hard-coded to `tekton-operator` / `opens

[2022-02-16 08:33] kaos opened #625 "Support custom registry for components"
### Feature request

In order to deploy Tekton from images pushed to a private registry, we need a way to configure Tekton Operator to deploy components referring to these internal images rather than the publicly hosted ones.

### Use case

Running a k8s cluster isolated from the public internet, we can not deploy services based on images pulled off of public registries.

Related issue: #66 (bulle

[2022-02-16 08:37] kaos opened #626 "One operator for all deployments"
### Feature request

Support deploying multiple instances of Tekton components (in different namespaces). That is, support using multiple `TektonConfig` resources in a single operator deployment.

### Use case

We want to be able to use Tekton for several disjoint use cases, that are isolated from each other. Deploying the Tekton components to multiple namespaces solves this, but it would be prefe

[2022-02-16 10:34] vdemeester commented on #624
@jacksgt this is only for the operator webhooks themselves right ?

[2022-02-17 09:54] jacksgt commented on #624
Yes, here I'm only referring to the Webhooks deployed directly by the operator.

[2022-02-24 08:48] jacksgt commented on #624
In principal this should not be difficult to adjust, because the operator already has the `SYSTEM_NAMESPACE` environment variable.
I'm just not familiar with the codebase and don't know where the correct place to inject this modification is, otherwise I'm happy to contribute a PR :-)

[2022-02-25 10:35] vdemeester opened #633 "Update argocd-task-sync-and-wait catalog community cluster tasks to 0.2"
All is in the title 😝

[2022-02-26 23:08] 41lx opened #930 "Is it possible to run a Tekton without internet access?"
Hi,

we are trying to run Tekton v0.32.1 on our 1.20 (k8s 1.21+ is not available for us thus no 0.33.1) on our local cluster which has no internet access. We are actually facing a lot of troubles to do so.

Problems:
* pipelines 0.32.1:
** after editing release.yaml file to point to our local harbor we are able to run tekton-pipelines-controller and tekton-triggers-controller. After creating a sim

[2022-03-02 08:04] vdemeester commented on #540
@nikhil-thomas what is the status ?

[2022-03-02 10:31] #633 closed

[2022-03-03 00:39] Miles-Garnsey commented on #624
I am also having some problems with this. When I apply the manifests (e.g. [here](https://storage.googleapis.com/tekton-releases/operator/latest/release.yaml) and they are deployed in a custom namespace (e.g. `operators`) I see namespace-related webhook errors when I try to apply a `TektonConfig`:

[code]

This should not be happening, because the manifests (which I linked above) actually do set `

[2022-03-03 01:57] #400 closed

[2022-03-03 09:06] vdemeester commented on #624
/cc @sm43 @nikhil-thomas
I think this is fixed by https://github.com/tektoncd/operator/pull/637 ?

[2022-03-04 08:06] Miles-Garnsey opened #651 "Ability to add custom labels to resources"
### Feature request

We have a service mesh in place in our cluster which relies on the ability to label namespaces and workloads (pods) to configure it.

To get Tekton running on the mesh, we need to be able to label:

1. The namespace created by tekton-operator (`targetNamespace`)
2. The various controllers created in that namespace (tekton-dashboard, tekton-operator-proxy-webhook, tekton-pipeli

[2022-03-04 08:48] Miles-Garnsey opened #652 "Provide ability to disable namespace creation"
### Feature request

It seems that there is no way to prevent the operator from trying to create its own namespace. It would be good if it was possible to turn this behaviour off.

### Use case

Two use cases:
1. In some RBAC configurations non-admin users do not have the ability to create namespaces.
2. If the namespace already exists, it will be overwritten by the operator's namespace. This can

[2022-03-05 07:50] #437 closed

[2022-03-09 11:06] nikhil-thomas commented on #626
This is an interesting issue. This could be implemented if other tektoncd projects can take a list of namespaces to watch as an argument.

At present, tektoncd/pipeline supports only an `all or one` approach. refer [this](https://github.com/tektoncd/pipeline/blob/38d98f09ecdd5240d91762ff6a75bc6275316ed9/cmd/controller/main.go#L46) . The namespace flag in pipeline controller do not accept a list of

[2022-03-09 11:10] nikhil-thomas commented on #625
currently there exists a hacky weakly documented way. We can set environment variables like [this](https://github.com/tektoncd/operator/blob/abad3531bf90b15dd64daaa27a5480647dd37114/config/openshift/base/operator.yaml#L69) or [this](https://github.com/tektoncd/operator/blob/abad3531bf90b15dd64daaa27a5480647dd37114/operatorhub/openshift/release-artifacts/bundle/manifests/openshift-pipelines-operato

[2022-03-09 11:11] nikhil-thomas commented on #624
yes, https://github.com/tektoncd/operator/pull/637 shoud fix this

[2022-03-09 11:13] vdemeester commented on #624
Let's close it then 👼🏼
/close

[2022-03-09 11:13] #624 closed

[2022-03-09 13:38] kaos commented on #626
From my perspective, the `one` namespace approach is sufficient here, as I expect we'd deploy multiple instances (one per namespace) of tektoncd/pipeline, so each instance will only ever be concerned with that single namespace where it is deployed.

[2022-03-09 13:44] kaos commented on #625
Ah, great. That is a good first step. What would be great is an authoritative list of all images used, and their default values (so we can be sure to include/override them all).

We'd generate this, so using env vars or config map I don't think is any major difference in ux. I may come up with better suggestions once we get a bit more experience trying this out.

[2022-03-10 13:42] nikhil-thomas opened #670 "Create operator-info config map in operator's namespace"
At present, the operator-info configMap is created in teh `targetNamespace` specified in tektonConfig instance. This was done assuming that it will be easier for users and tools to find version information if all the *-info configMaps are in the same namespace (targetNamespace).

This is confusing as most of our users expect the configMap to be in the namespace where the operator is installed (eg:

[2022-03-10 13:54] PuneetPunamiya commented on #670
/assign

[2022-03-11 14:37] fgiloux opened #676 "Why are OpenShift images based on RHEL8 instead of UBI8?"
### Feature request

Using images based on UBI: like registry.access.redhat.com/ubi8/buildah instead of images based on RHEL8 like: registry.redhat.io/rhel8/buildah

### Use case

Images based on RHEL8 are bound to RHEL EULA, which limits redistribution. This restriction does not apply to UBI8 images.
A consequence is that registry.redhat.io requires authentication. registry.access.redhat.com does

[2022-03-11 14:52] vdemeester commented on #676
Note: if upstream OpenShift release such as [here](https://github.com/tektoncd/operator/releases/tag/v0.54.0) are using RHEL, then this should be considered as a bug.

[2022-03-11 14:55] vdemeester commented on #676
Ah it's only for few images, such as the `buildah` image, I see. Then I tend to agree.
I've checked, all of the component and operator images are based on top of ubi8, only few like the buildah one are not.

[2022-03-14 08:23] #285 closed

[2022-03-14 15:55] srisek opened #681 "Error in Tekton operator image while upgrading to v0.55.0"
# Issue

Upgrade to tekton operator version v0.55.0.

The tekton operator container is failing with the below error.

Error:

**_Terminated - Error (exit code: 2)_**

**panic: open /var/run/ko/tekton-pipeline: no such file or directory**

# Container Log

2022/03/14 15:05:28 Registering 3 clients
2022/03/14 15:05:28 Registering 3 informer factories
2022/03/14 15:05:28 Registering 10 informers
2022

[2022-03-14 16:18] vdemeester commented on #681
/assign @nikhil-thomas

[2022-03-15 10:57] nikhil-thomas commented on #681
fixed in v0.55.1 release
https://github.com/tektoncd/operator/releases/tag/v0.55.1

@srisek Thanks for reporting 🧑‍💻 👍

[2022-03-15 10:58] nikhil-thomas commented on #681
The reason for this issue was a glictch in the release pipeline.

closing this issue. we shall reopen it if needed.
/close

[2022-03-15 10:58] #681 closed

[2022-03-17 05:16] #670 closed

[2022-03-17 10:40] linmuqin commented on #209
I also have many pipelineruns that need to be cleaned up, do I still need to clean up manually every time now?

[2022-03-24 07:59] rupalibehera commented on #476
/remove-lifecycle rotten

[2022-03-24 13:19] nikhil-thomas commented on #651
This is an interesting idea. The challenge now is that the deployment gets reset to initial state, if the operator detects that the deployment has changed on cluster. So if we are supporting this we will also have to make sure that the operator is tolerant to certain changes (eg: adding additional labels)

[2022-03-24 15:21] tightime opened #718 "Support a specific namespace installation mode on the openshift cluster"
### Feature request

1. Set **installModes.supported** of **SingleNamespace** type to **true** from **false** in CSV resource file;
2. Set **valueFrom.fieldRef.fieldPath** of **SYSTEM_NAMESPACE** env to **metadata.annotations['olm.targetNamespaces']** from **metadata.namespace** in controller deployment file;

### Use case

It's necessary for this installation mode when the tenant has no admin per

[2022-03-25 10:54] nikhil-thomas commented on #718
It is hard to make commitments like this in the csv present in this repository. However, it is straight forward to generate an new csv (bundle) using the scripts provided in this repository.

for example, if it is required to support singleNamespace installMode, then change that in this csv seed file [here](https://github.com/tektoncd/operator/blob/f0305b52b42bdf30439f9dcff23a760bbb6ee444/operator

[2022-03-28 02:31] tightime commented on #718
@nikhil-thomas Thank you very much. Do you think this feature requirement is reasonable or is there any hidden risk?

[2022-03-28 06:13] nikhil-thomas commented on #718
There is one major risk. As all the reconcilers in this operator watch clusterWide resources (TektonConfig, TektonPipeline...) irrespective of the InstallMode specified, we will run into a situation where more than one controllers are updating the instance(~s~) of these CRDs.

note: these CRDs will have only 1 instance per cluster as per the current design.

[2022-03-28 06:25] nikhil-thomas commented on #652
This is something we never gave much thought 😇 🧑‍💻 . This is a very valid use case.

i do support this use case.
may be we can add a configuration in TektonConfig CRD spec to disable namespace creation.

In addition, we will need to brainstorm all scenarios this will need to support (installation/upgrade/uninstallation...)

this is a tricky situation. this operator assumes that the targetnamespace

[2022-03-30 13:53] adambkaplan commented on #577
Shipwright's operator uses the approach above, and we can confirm that this works on upstream operatorhub.io

[2022-03-30 13:57] adambkaplan opened #733 "Update operatorhub.io catalog with the latest operator version"
### Feature request

The version of the tektoncd operator published on operatorhub.io is out of date. The most recent release there is v0.49.0, which is several months out of date.

### Use case

Operators that depend on the Tekton operator would like to be able to test against the latest version of the operator in a public catalog.

Shipwright's operator, for example, depends on the Tekton operat

[2022-04-01 13:21] sm43 commented on #733
cc @nikhil-thomas

[2022-04-07 00:34] Miles-Garnsey commented on #652
It sounds as though you're currently deleting the whole namespace and re-creating? Would it be viable to retrieve the operator's objects by label and delete those under it's control, rather than trying to use the namespace to identify them?

[2022-04-07 00:36] Miles-Garnsey commented on #651
I'd suggest that you should add `labels:` fields into the operator's CRD so that users can define the labels from there. Having to define them as a second step after the resources are created could present problems in some (e.g. GitOps) scenarios.

[2022-04-07 07:38] vinamra28 commented on #548
/remove-lifecycle rotten

[2022-04-13 05:35] vdemeester commented on #567
https://github.com/chmouel/sugarjazy helps a bit here 👼🏼

[2022-04-13 05:41] vdemeester commented on #561
/lifecycle frozen
Most likely something we still want to explore (or explicitely say we don't want to do it after some exploration)

[2022-04-13 06:31] savitaashture commented on #591
@nikhil-thomas I think we have some default values which are platform specific so should we keep them as it is ?

[2022-04-13 06:52] #548 closed

[2022-04-13 07:27] nikhil-thomas opened #752 "Repalce existing IsReady check in TektonAddon with declarative implementation"
At present, in the TektonConfig OpenShift extension, the code which checks Ready state of TektonAddon uses polling, [here](https://github.com/tektoncd/operator/blob/1406b846022e92f4ac15ec695fb94a1b7b12a221/pkg/reconciler/openshift/tektonconfig/extension/addon.go#L36). This means, the reconciler blocks until the Polling timeout runs out or the check succeeds.

Similar checks for TektonPipeline and

[2022-04-13 07:36] savitaashture commented on #752
I think we need same changes for Dashboard as well

[2022-04-13 09:00] nikhil-thomas commented on #591
we shall keep them as it is and where they are 🧑‍💻. As vdmeester mentioned irrespective of what the defaults are and where they are written in the codebase, this issue's objective is to make sure that the defaulting is done by the webhook, as part of admission control.

In other words, we want to eliminate any instance of "`setDefaults` then explicitly update instance" practices, if there are any

[2022-04-13 09:01] nikhil-thomas commented on #576
/remove-lifecycle stale

being addressed by https://github.com/tektoncd/operator/pull/710

[2022-04-20 11:46] InfoSec812 commented on #582
/remove-lifecycle stale

Issue is still awaiting a resolution

[2022-04-21 12:43] siamaksade opened #759 "Consistent API for Tekton configurations"
### Feature request

The `TektonConfig` CR provides a convenient UX for configuring the behaviour of various Tetkon components on the cluster however the UX is inconsistent across various attributes:

[code]

Specifying some config values as params makes it error-prone and undiscoverable by the user in contrast to the rest of config attributes that are strongly typed and are directly on the CR.

T

[2022-04-25 13:46] sm43 opened #762 "Add e2e test for upgrade scenario"
Currently we don't have any test for upgrades
we only install the a version and check if all components are ready.
we need to add test for upgrade.

[2022-04-26 06:48] guhaneswaran commented on #580
I would like to work on this issue Can this be assigned to me

[2022-04-26 08:15] vdemeester commented on #580
/assign @guhaneswaran

[2022-04-26 08:52] nikhil-thomas opened #763 "Enable image signing (with chains) in Tektoncd Operator release pipeline"
At present, the images built in the versioned tektoncd/operator release pipelines are not signed by the tekton/chains instance running on plumbing cluster.

We need to modify the tektoncd/operator release pipeline to add an `IMAGE` result wihich can be used by tektoncd/chains instance for image signing.

Refer this pr: https://github.com/tektoncd/pipeline/pull/4156

[2022-04-27 15:33] imjasonh commented on #319
/remove-lifecycle stale
/lifecycle frozen

[2022-04-27 16:10] vdemeester commented on #319
@concaf or we may create issue for each of those, if we can split into smaller parts.. and mark this one as done as it is done (it is there, but there is possible enhancements)

[2022-04-28 12:20] sm43 commented on #762
probable solution as discussed in WG
[code]

[2022-04-29 12:31] nikhil-thomas opened #768 "[OpenShit] Disable PAC tests are failing"
# Expected Behavior

All e2e tests should pass

# Actual Behavior

while running e2e tests on OpenShift 2 tests are failing
[code]

# Steps to Reproduce the Problem

1. Install OpenShift build of v0.57.0 tektoncd/operator release
2. run e2e tests

# Additional Info

- OpenShift version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

[code]

[2022-04-29 22:35] AriesTriputranto9 opened #770 "perilaku yang diharapkan"
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

1. Optional
2. Optional
3. Optional

# Additional Info

- Kubernetes version: optional

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:
   Optional
  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`*

[2022-04-30 23:54] nikhil-thomas opened #771 "Support caching in 'fetch payload' mechanism"
### Feature request

At present, the `fetch-releases.sh` script fetches (`curl`) every time it is run.

Adding a shortlived cache (ttl: 1day) could make the development experience better.  🧑‍💻

### Use case

A developer runs `make apply` repeatedly while working on any contribution to tektoncd/operator. The `make apply` target runs `fetch-releases.sh` script every time. This is unnecessary as the

[2022-05-01 00:44] nikhil-thomas opened #772 "Almost all of the "transformers" are skipped on RoleBinding resources"
# Expected Behavior

All of the transformers applied in any reconciler should apply to all kubernetes resources except when a skip logic is explicitly mentioned.

# Actual Behavior

Most of the transformers have no effect on `kind: RoleBinding` resources.
This is observed in reconcilers of all components.

Only
- targetNamespace transformation
- inject ownerReference
have any effect on RoleBinding

[2022-05-01 09:15] #540 closed

[2022-05-01 09:37] guhaneswaran commented on #580
I think `priorityClassName` is a good fit under `spec.config.priorityClassName` instead of `spec.priorityClassName`. Any suggestions ?

[2022-05-02 02:32] #433 closed

[2022-05-02 02:32] #496 closed

[2022-05-02 02:32] #361 closed

[2022-05-02 02:32] #365 closed

[2022-05-02 02:32] #420 closed

[2022-05-02 02:32] #409 closed

[2022-05-02 02:32] #427 closed

[2022-05-02 04:37] #752 closed

[2022-05-02 17:47] #294 closed

[2022-05-03 05:14] vdemeester commented on #584
/close

[2022-05-03 05:14] #584 closed

[2022-05-03 05:37] nikhil-thomas commented on #770
@AriesTriputranto9 i am assuming this issue was posted before it was wrote down.

Could you either add necessary details or close this issue. 🧑‍💻

[2022-05-03 06:59] #770 closed

[2022-05-04 14:19] nikhil-thomas opened #773 "Reconcilers should not create/recreate resources if "deletionTimestamp" is set on the primary resource"
# Expected Behavior
Deleting TektonConfig Instance should delete instances of TektonPipelines, TektonTriggers etc and the reconciler should not respond to that by trying to create TektonPipelines instances again.

# Actual Behavior
Deletion of TektonPipeline instances by TektonConfig reconciler triggers the recreation of TektonPipelines instances irrespective of whether a deletion timestamp is set

[2022-05-05 00:42] #401 closed

[2022-05-05 09:33] ibotty opened #774 "tkn-cli-serve is deployed from docker.io registry"
# Expected Behavior

tkn-cli-serve works.

# Actual Behavior

[code]

- Tekton Pipeline version:
Pipeline version: v0.35.0
Triggers version: v0.19.1
Operator version: 0.57.0

[2022-05-05 09:42] ibotty commented on #160
That's implemented, alas not with all things implemented as above.

[2022-05-05 09:42] #160 closed

[2022-05-05 19:17] spencerrung opened #775 "Desire to Patch TektonInstallerSet specifically the Pipeline"
Hello Tekton Team!

Currently I am trying to have an annotation persist on the tekton-pipelines namespace. It seems that the pipeline installer set overwrites the namespace annotations.

We are using Kustomize to install the operator and I am wondering if there is a way to patch/modify the CRD for this to allow previous annotations to exist or add an annotation to the pipeline installer set under

[2022-05-10 17:04] ktarplee commented on #625
I think having the map of image overrides in the tektonconfig is the way to go.  It allows for air-gapped environments where the syncing process might not preserve manifest IDs.

[2022-05-11 08:01] nikhil-thomas commented on #775
We can think about a labels and annotations section in our CRD spec(s).
That is, instead of adding labels only on namespaces, if we apply 1 or more labels to all pipelines resources created for Tekton Pipelines. Will that be good enough.

[2022-05-11 08:03] nikhil-thomas commented on #775
Another concern is everincresaing size of TektonConfig CR spec.
May be it is time to think about supporting a `tekton-<component name>-config` configMap per component. Then we can specifiy the name of the configMap in the CRD spec. I am thinking 1 per component. This will help us upgrade/depracate fields in CRDs more efficiently.

[2022-05-11 08:06] nikhil-thomas commented on #774
🧑‍💻 ooops...  this needs an immediate fix.
@ibotty thank for for raising the issue.

[2022-05-11 09:13] nikhil-thomas opened #782 "Add a generic waitForCRDInstanceDelete and waitForDeploymentsDeleted test helpers"
In some of our e2e tests our assertions check only whether the CRD instance got deleted ([example](https://github.com/tektoncd/operator/blob/5dd15099eca57afe50d01c290c0a6423ad534cf7/test/e2e/common/00_tektonconfigdeployment_test.go#L148)). From an e2e test prespective the check should ensure the deployments were cleaned up as well (at the very minimum).

Proceeding with other tests while a compone

[2022-05-12 05:57] nikhil-thomas opened #783 "TargetNamespace lifecycle is not handled properly in TektonPipelines reconciler"
# Expected Behavior
A delete and recreate of TektonPipelines works smoothly.

# Actual Behavior
When we delete and recreate TektonPipelines, its resources doesnot get created. The logs are added in the 'Additional Info' section below.

# Additional Info

[code]

# Steps to Reproduce the Problem

1. Install operator and let TektonConfig instance reach status Ready: true
2. Delete tektonpipelines in

[2022-05-12 10:16] nikhil-thomas opened #784 "Eliminate the explicit dependency between components enforced by operator"
# Description

At present, operator enforces an explicit dependency between components during installation and upgrades. For example, TektonTrigger reconciler will install Tektoncd Triggers only if the operaotor can verify that Tektoncd Pipelines is already installed by the operator (checks for TektonPipeline instance status). In the case of OpenShift, TektonAddon installation waits till TektonPip

[2022-05-12 10:58] ibotty opened #785 "buildah clustertask uses restricted rhel8 image"
# Expected Behavior

buildah clustertask works and uses the `quay.io/buildah/stable` image by default.

# Actual Behavior
The pod cannot run because it cannot pull the default image due to (intentional) missing pull credentials for redhat registry.

- Tekton Pipeline version
[code]

[2022-05-13 00:40] nikhil-thomas opened #786 "Support "patch" operations which do not add an ownerReference with TektonInstallerSet"
### Feature request

At present, whenever we use an InstallerSet instance to create/edit a resource, the installer set instance adds itself as an ownerReference. This addition of ownerReference is useful while working with a full installation of a component. However, this restricts us from using TektonInstaller set as a tool to patch/edit existing resources without touching the ownerReference. For

[2022-05-13 08:06] vdemeester commented on #567
I am going to close this issue as "wontfix" as I feel it's not up to the operator, but to consumer of the logs to implement this. With sugarjazy or [`snazy`](https://github.com/chmouel/snazy/), this is already possible.

[2022-05-13 08:06] #567 closed

[2022-05-19 09:58] nikhil-thomas commented on #784
cc @concaf

[2022-05-19 12:24] concaf commented on #784
I think that a prerequisite before starting this would be to analyze all the components on a case-to-case basis on what their behavior is when the dependency is not present (and possibly establish a project wide consensus/standard on how cases like this (dependency missing) are handled)

[2022-05-19 12:28] savitaashture commented on #762
WG discussion point

1. Install latest release version
2. Upgarde from PR commit
3. Run e2e to verify successful upgradation

[2022-05-19 12:31] vdemeester commented on #762
We should probably try to use `kind` for this https://github.com/tektoncd/plumbing/blob/d765a5cba75fe5c3d4b67b8651caf72e704a22dc/tekton/images/kind-e2e/setup-kind.sh

[2022-05-19 16:54] ryphon commented on #775
Alternatively, a way to ignore externally added labels/annotations would be acceptable? As long as the TektonConfig CR can control the labels/annotations that it cares about, can it just ignore any extraneous metadata?

Would mean you don't have to expand the CRD spec past, "Ignore existing metadata that Tekton doesn't specifically use/care about".

[2022-05-20 10:17] jacksgt commented on #543
This issue can be closed as it was fixed with https://github.com/tektoncd/operator/pull/627

[2022-05-20 10:19] jacksgt opened #792 "Automatically bump Helm chart for new releases"
The Helm chart introduced in XXX should automatically be bumped whenever there is a new operator release.
(i.e. version number and image tags should be updated)

[2022-05-20 10:20] jacksgt commented on #792
I'm happy to tackle this issue after someone explains to me how the release flow works.

I see there are lots of scripts in `./hack` but I'm not sure how they work together.

[2022-05-20 10:23] jacksgt opened #793 "Separately publish CRD.yaml in relases"
For installing the [Helm chart](https://github.com/tektoncd/operator/pull/627) and CRDs separately, it would be super useful to have separate `openshift-crds.yaml` and `kubernetes-crds.yaml` files attached to the [Github releases](https://github.com/tektoncd/operator/releases).

It should be fairly simply to extract these manifests when generating the kustomize manifests during the release process

[2022-05-20 11:11] #543 closed

[2022-05-22 00:18] nikhil-thomas opened #794 "Make use of apis.FieldError from knative/pkg while handling errors in Reconcilers"
In tektoncd projects apis.FieldError are used extensively in error handling (especially in validation).

From knative documentation.
[code]

sample usage
- https://github.com/tektoncd/pipeline/blob/4a93b625f857ab582e87c17029ee893612ca6cfe/pkg/apis/pipeline/v1beta1/task_validation.go#L158

Shall we consider using them in reconcilers as well. The main advantage is that we will be provide much better

[2022-05-25 03:43] nikhil-thomas commented on #792
at present the release flow is as follows.
1. a maitainer runs this script: https://github.com/tektoncd/operator/blob/bed3d6308c6682700ba05d00e88d8d5eaf8a976a/hack/release-setup-branch.sh#L7
   **this script will:**
   a. create release branch
   b. query and lists recent releases from projects like pipelines, triggers and lets the script runner chose 1 (fzf).
   c. record selected versions in tes

[2022-05-25 03:58] nikhil-thomas commented on #792
May be the place to add changes for helm is between step 1.e and 1.f.

However, the challenge we might face is that the image references are created only during the release pipelineRun. So if we add a manifest in the helm chart which is updated before we run the release pipeline, then the image references (for operator contoller and webhook) will break.

We face the same challenge with creating up

[2022-05-25 03:59] nikhil-thomas commented on #793
/grooming

[2022-05-25 13:59] tonygilkerson commented on #580
putting `priorityClassName` under `spec.config.priorityClassName` works for me

[2022-05-26 09:29] nikhil-thomas opened #810 "Remove all instances of polling in reconcilers"
This issue is a tracker for listing and eliminating usage of `poll(interval, timeout, check)` in our reconcilers.

Polling introduces unnecssary delays in our reconcile loops and it makes it difficult to debug recocile issues.

🧑‍💻 👉 Instead of polling we can use proper error handling/propagation and event requeuing.
🧑‍💻 👉 polling is ncessary in e2e tests as it not a loop but a single flow executi

[2022-05-26 09:29] nikhil-thomas commented on #810
/assign

[2022-05-30 09:23] vdemeester commented on #586
/remove-lifecycle rotten

[2022-05-31 07:52] jacksgt commented on #792
Hi @nikhil-thomas ,

thanks for taking the time and writing all this info down!
(Maybe you can also copy-paste this info into release-cheat-sheet.md?)

I followed your guidelines and came up with a draft PR. Please take a look when you have time: https://github.com/tektoncd/operator/pull/816
(I'm sure it's not fully functional yet, but I first want to have confirmation that I'm going in the right

[2022-06-01 13:40] nikhil-thomas opened #820 "Add e2e tests for Hub"
this is a tracker for adding e2e tests for TektonHub.

[2022-06-02 13:37] vdemeester commented on #793
/grooming

[2022-06-02 15:09] gerrnot commented on #783
ran into the same/similar issue...

workaround that worked for me: k delete ns tekton-operator
then reinstall the operator

[2022-06-03 02:08] #431 closed

[2022-06-05 02:55] #424 closed

[2022-06-05 11:03] #439 closed

[2022-06-08 17:40] vdemeester commented on #626
/remove-lifecycle stale

[2022-06-08 23:12] ArthurVardevanyan opened #831 "Operator Overrides NS Label: app.kubernetes.io/instance"
# Expected Behavior
I can set a custom "app.kubernetes.io/instance" label on my objects.

# Actual Behavior

Operator Overrides the **namespace** object label back to default.
![image](https://user-images.githubusercontent.com/21159051/172732307-4d73a9c6-a5bb-4e17-844f-f52aab58c0a7.png)

# Steps to Reproduce the Problem

1. Use Custom Label
2. Reboot Operator Pod
3. After Reconcile, label has reve

[2022-06-09 12:42] nikhil-thomas commented on #775
additional details:
- we agree this is a valuable feature
- if we do this, any changes to any resources managed by operaotr should be declaratively done through operator's API(s)
    - it could be something like what is show in the issue description, a list of metadata changes under a `manifests` key in TektonConfig CR
    - so approaches like ""Ignore existing metadata" will have to be avoided as

[2022-06-09 17:00] v1nc3nt27 opened #835 "Webhook timeout when editing the TektonConfig"
Editing the TektonConfig after installing the chart throws `│ Error: config failed to run apply: error when creating "/tmp/896304782kubectl_manifest.yaml": Internal error occurred: failed calling webhook "webhook.operator.tekton.dev": failed to call webhook: Post "https://tekton-operator-webhook.tekton-operator.svc:443/defaulting?timeout=10s": context deadline exceeded` and I cannot figure out wha

[2022-06-09 18:00] v1nc3nt27 commented on #835
I installed an older version and this actually showed an extended error that also included: `dial tcp 172.16.85.237:8443: i/o timeout`. I then figured out that my nodes' port to 8443 was closed. Opening solved the issue. It is really confusing though that this extra part of the error only appeared in an older version and never in the latest one...

[2022-06-09 18:00] #835 closed, assigned to nobody

[2022-06-13 12:14] #407 closed

[2022-06-16 02:15] #287 closed

[2022-06-27 09:05] vdemeester commented on #580
@sm43 @nikhil-thomas I think it can be closed as #797 got merged 👼🏼

[2022-06-27 09:06] #580 closed

[2022-06-27 21:25] skaegi opened #872 "Option to disable proxy"
We just installed with the operator and noticed that we had several operator-proxy-webhooks running. This is not providing functionality that we want in our cluster and were surprised that the operator installed it. Could we please have an option to remove it from our config.

[2022-06-28 07:00] tlawrie opened #873 "Is the Tekton Helm chart published?"
Is the Tekton helm chart published in a chart repository? currently, the instructions point to cloning the git repository and installing the helm chart from there which isn't entirely useful for automated installs, especially if a dependent chart to another helm chart.

[2022-06-29 04:06] sm43 commented on #873
@jacksgt any update when we would be able to publish the chart?
cc @vdemeester

[2022-06-30 00:42] #475 closed

[2022-06-30 00:42] #589 closed

[2022-06-30 00:42] #603 closed

[2022-06-30 14:45] adambkaplan commented on #733
bump @nikhil-thomas - operatorhub.io still has v0.49.0, whereas the latest community operator is at v0.60.0

[2022-06-30 15:58] #604 closed

[2022-07-04 11:55] vdemeester commented on #872
@skaegi the proxy webhook is basically a no-op, and the admission controller should only be registered if there is a proxy setup (aka the operator having a non-empty http_proxy/… set of environment variables. At least that's how it should work.
This means the `operator-proxy-webhooks` pod is basically doing nothing, which I think, we could avoid indeed (either smartly or not).

/cc @piyush-garg

[2022-07-04 14:36] vdemeester commented on #733
/remove-lifecycle stale
/triage wg-discuss

[2022-07-05 01:03] tlawrie commented on #873
Thanks @sm43. Any update on the ETA for this?

[2022-07-05 21:17] spstarr opened #887 "How do you set the versions for the components you want the operator to install?"
It's not clear to me how to tell the Tekton Operator what versions of `pipelines` `dashboard` etc to install, the documentation mentions nothing about this.

So, how does a user want to update the version? Say from Tekton 0.37 -> 0.37.1?

I would have thought https://github.com/tektoncd/operator/blob/main/docs/TektonConfig.md explains this since you use a `TektonConfig` to manage components to ins

[2022-07-07 04:38] sm43 opened #893 "`deleteObsoleteTargetNamespaces` func in TektonConfig reconciler processes invalid key"
https://github.com/tektoncd/operator/blob/80619ce6657a9fcd27f965af99339b6661c3097e/pkg/reconciler/shared/tektonconfig/tektonconfig.go#L197
`operator.tekton.dev/targetNamespace/mark-for-deletion` label used here is invalid key.
[code]

[2022-07-07 05:07] sm43 commented on #893
@vdemeester 😄
![image](https://user-images.githubusercontent.com/55777192/177695769-67784b99-b291-45f6-904c-2a806bea19b5.png)

[2022-07-07 07:33] vdemeester commented on #893
@sm43 ah damn.. something changed.. 🤔

[2022-07-07 08:29] vdemeester commented on #887
A release of the operator ships with a certain set of versions, and the user cannot change that (otherwise, the support would become crazy difficult to do).

Ideally, when a bugfix is released, let's say `v0.37.1`, all the operator releases that contains this version (aka `v0.37.0`) should bump the version and have themselves a new bugfix release. This should also be true for all the components. W

[2022-07-07 16:09] spstarr commented on #887
Thanks, that clarifies, I was not expecting the Operator to be a fixed-component install, but that explains why it will reset components if overridden by newer versions.

[2022-07-07 16:23] vdemeester commented on #887
fyi started to work a bit on that :
- https://github.com/tektoncd/operator/pull/897 as an immediate "let's bump to the latest pipeline release on the latest operator release"
- https://github.com/tektoncd/operator/pull/898 to have some tool to automate this
- next is more automation and a clearer documentation 👼🏼

[2022-07-09 14:08] sebastiangaiser opened #899 "Install on Minikube fails"
# Expected Behavior

[code]

Operator is running...

# Actual Behavior
[code]

# Steps to Reproduce the Problem

See # Expected Behavior

# Additional Info

- Kubernetes version:

[code]

[2022-07-09 14:47] sebastiangaiser commented on #899
Problem with my cluster...

[2022-07-09 14:47] #899 closed

[2022-07-10 16:17] #622 closed

[2022-07-12 16:26] mike-serchenia commented on #623
could we reopen the feature request please ?

[2022-07-12 17:47] srisek commented on #623
I would also the second the same, this would be a good to have this incorporated into the operator. Currently I had to install dashboard from the manifest directly outside the scope of using the operator and updated the deployment spec to configure the external logs flag using kustomize.

[2022-07-12 21:39] mike-serchenia opened #905 "GKE workload identity"
# Expected Behavior
allow add annotation to ksa `tekton-pipelines-controller`
# Actual Behavior
`tekton-operator` will create ksa `tekton-pipelines-controller` and even if you annotate it with google service account, reconciler will remove the annotation

# Steps to Reproduce the Problem

1. install tekton-pipelines with tekton-operator
2. try to run `PipelineRun` with  `pipelineRef:  bundle:`
3.

[2022-07-13 06:22] sm43 commented on #873
@tlawrie sorry for the delay.
@jacksgt has contributed the helm chart to the project, just waiting for him to give a go.
then we can work on publishing the chart :)

[2022-07-13 09:55] vdemeester commented on #905
@mike-serchenia I guess this is a bit similar to https://github.com/tektoncd/operator/issues/651 but for annotation, am I right ?

[2022-07-13 14:25] mike-serchenia commented on #905
Looks like it, correct

[2022-07-13 14:46] r67yfyt opened #907 "i can't get image in china"
i can't get image in china.

[2022-07-13 20:13] dibyom commented on #905
We handled this in Triggers by merging existing annotations with the ones that triggers adds in the reconciler to prevent overwrites

[2022-07-14 07:09] #907 closed

[2022-07-14 07:15] r67yfyt opened #908 "how can i get images in china"
# Expected Behavior
i can easily get images include operator, pipeline, dashboard, chain, etc;
how can i customize all images, now i can only edit operator images in the release file, not the other CR images!!!
# Actual Behavior
we can't acess gcr.io and ghcr.io;
# Steps to Reproduce the Problem

1. install with operator helm chart
2. fail to download image

[2022-07-14 09:46] r67yfyt commented on #625
Any pr or feature fix this?

[2022-07-14 12:09] nikhil-thomas commented on #782
one improvement could be to add explicit deletePropagationPolicy: Foreground, where evere an installerSet is deleted. ie, when an Installerset is removed from a cluster we can be confident that all the resources and subresources created by the installerset instance are gone.

[2022-07-14 12:16] nikhil-thomas commented on #782
Adding explicit ForGround deletePropagationPolicy might also help with preventing irregular errors like:
[code]
as the create, delete, create, delete cycle will be strictly in order (sequntial).

[2022-07-14 12:22] nikhil-thomas commented on #908
There is one way. We can do this be specifying image overrides as environment variables in the operator controller deployment. refer #610

[2022-07-14 12:24] nikhil-thomas commented on #905
/help-wanted

[2022-07-15 04:57] r67yfyt commented on #908
how can i deal with helm chart?

[2022-07-19 17:05] jb-2020 opened #920 "Support private container registry for Tekton Pruner"
### Feature request

Currently, we can set `IMAGE_JOB_PRUNER_TKN` - which we add to the operator’s deployment environment variables.  This will override the image used by the operator for configuring the pruner's `Job`.

However, there does not seem to be any flag to specify `imagePullSecrets` for this `Job`.

### Use case

Use a private container repository for the various images installed by the

[2022-07-24 05:16] sm43 commented on #546
@ShivamTyagi12345 would you be able to do this? or can we unassign you so that someone else can do it?

[2022-07-24 18:39] camperjett commented on #546
Hey @sm43 I would like to work on this issue. Could you please help me get started with it?

[2022-07-24 23:28] tlawrie commented on #873
Hi @sm43 @jacksgt how are we looking?

[2022-07-25 03:33] camperjett commented on #763
Hi @nikhil-thomas I would like to take up this issue if @concaf is not working on it. Could you please give me an overview of this to get started?

[2022-07-27 13:18] sm43 commented on #873
@tlawrie I am looking into helm, it is a bit new for me 😅
will try to get this done soon :)

[2022-07-28 12:07] savitaashture commented on #775
@sm43 is working on to address this as part of his POC work

[2022-07-28 21:43] tlawrie commented on #873
Do you have any questions? I've done a helm chart in the past.

Is it in figuring out where to package and host it?

[2022-07-29 09:45] sm43 commented on #873
Yeah Currently, I am updating the chart in main branch for the latest released version of operator
and once it works fine was thinking to setup github action for the release
https://github.com/marketplace/actions/helm-chart-releaser
WDYT?

[2022-07-29 16:49] jacksgt commented on #873
Hey folks, thanks for the interest and sorry for the long delay!

I created a PR a while ago that should automatically update the Helm chart for each new version of the operator: https://github.com/tektoncd/operator/pull/816
Unfortunately, so far no one has tested that PR :-/

Once we have that in place, using the helm-chart-releaser action as suggested above should be fairly straightforward.

[2022-07-29 17:55] sm43 commented on #873
hey @jacksgt sorry for that. The PR has a work in progress label due to which I didn't take a look earlier. Let me take a look.

[2022-07-30 02:00] lookis commented on #908
@r67yfyt if you have a proxy server, you can try these setup: https://zhuanlan.zhihu.com/p/545327043

[2022-07-30 02:01] r67yfyt commented on #908
product enviroment cannot set proxy

[2022-08-01 03:05] yuzp1996 opened #950 "Add --local for ko when execute `make apply` for developing"
### Feature request

I try to execute `make apply` to deploy tekton operator on my machine but it will crash and tell me that I need set an ENV KO_DOCKER_REPO. While I am not willing to push the image to the image registry because it is not necessary. I just want to try how to deploy the operator with code. So I need a flag that let me do that.

[2022-08-01 12:36] yuzp1996 commented on #950
/assgin

[2022-08-05 06:49] yuzp1996 commented on #950
fixed by https://github.com/tektoncd/operator/pull/949
/close

[2022-08-05 06:49] #950 closed

[2022-08-10 10:17] avinal opened #974 "Add support for defining `keep` and `keep-since` simultaneously in pruner configuration"
### Feature request

This feature is already present in Tekton cli, referenced by tektoncd/cli#1471 and implemented by tektoncd/cli#1533. It would be logical to update the operator to support a similar functionality in pruner.

### Use case

_(excerpt taken from tektoncd/cli#1471)_

The [pruner](https://tekton.dev/docs/operator/tektonconfig/#pruner) is used to automatically claim resources used by

[2022-08-10 11:55] Obirah commented on #610
/remove-lifecycle stale

[2022-08-12 09:50] tlawrie commented on #873
Checking back in on this? any movement?

[2022-08-18 14:29] vdemeester commented on #576
I'll close this as we splitted the operator into 2 containers, and that should be enough for now.

[2022-08-18 14:29] #576 closed

[2022-08-18 20:05] tlawrie commented on #873
Following up on this. Any update?

[2022-08-19 09:25] sm43 commented on #873
hey @tlawrie #816 might take time to get merged. automation will take some time to setup as I don't access to the release cluster.

so till then we will update the chart manually and https://github.com/tektoncd/operator/pull/1006 is for creating a release.
we will be releasing 0.62.0 today or on monday. once that is done, I will update the chart for it.

please feel free to contribute any improvem

[2022-08-21 09:35] #476 closed

[2022-08-24 04:35] #546 closed

[2022-08-25 07:35] #718 closed

[2022-08-25 07:42] sm43 commented on #873
https://github.com/tektoncd/operator/releases/tag/tekton-operator-chart-0.61.0

[2022-08-25 17:35] #930 closed

[2022-08-26 09:39] gsouzab opened #1021 "Cannot set the embedded-status feature flag on TektonConfig"
# Expected Behavior

While testing the **matrix** feature, I tried to configure the feature flag `embedded-status` using the `TektonConfig` custom resource.  Like the other feature flags, I expected this one to be configurable the same way, but apparently, it is not a valid [property](https://tekton.dev/docs/operator/tektonpipeline/#properties).

# Actual Behavior

I receive the following error:

[2022-08-26 11:38] vdemeester commented on #1021
cc @sm43

[2022-08-27 15:36] #577 closed

[2022-08-29 06:14] sm43 commented on #1021
we missed to add the new flags, here is the pr https://github.com/tektoncd/operator/pull/1022

[2022-08-29 10:07] pradeepitm12 commented on #974
/assign @avinal

[2022-08-30 09:49] DarthBlair commented on #610
Thanks!
At the moment we are unable to identify the env variable for changing the dashboard image. Does anyone have a hint or solution for that as well?

[2022-08-31 09:08] afrittoli opened #1031 "Document release processes for Operator"
Document what the release process looks like:

- the release manager role
- how version numbers are used and their meaning
- the release frequency
- the steps to perform a major and a minor release

Include the links to existing / new documents in the issue.

[2022-08-31 11:20] afrittoli opened #1032 "OpenSFF Best Practices Badge Program for Operator"
Achieve the [OpenSFF Best Practices Badge](https://bestpractices.coreinfrastructure.org/en).
Add the badge to the main project README.

[2022-09-01 11:46] oldthreefeng opened #1036 "in tekton situation. we may have many dead pod, this can cause ContainerGCFailed error in kubernetes"
# Expected Behavior

run tekton normal

# Actual Behavior

we run tekton sometimes, the node will be notready cause grpc: trying to send message larger than max

[code]

we check the pod in node, we find there are many dead container in the node ,so cause the problem
# Steps to Reproduce the Problem

1. deploy tekton
2. use ci/cd many days
3. the problem is come

# Additional Info

- Kubernetes ve

[2022-09-01 12:10] piyush-garg commented on #793
@jacksgt Is this still valid as we have started publishing helm charts. cc @sm43

[2022-09-01 12:13] piyush-garg commented on #785
We need the change the default image for upstream, and replace it via csv generation mechanism for downstream

[2022-09-01 12:15] piyush-garg commented on #733
@adambkaplan we have started updating the operator hub along with releases, the latest operator there is now v0.61.0

Feel free to close this, if you think this is fixed.

[2022-09-01 12:17] piyush-garg commented on #785
/remove-lifecycle stale

[2022-09-01 12:18] piyush-garg commented on #785
/kind good-first-issue

[2022-09-01 12:20] piyush-garg commented on #785
/good-first-issue

[2022-09-01 12:21] piyush-garg commented on #785
/remove-triage wg-discuss

[2022-09-01 12:21] piyush-garg commented on #733
/remove-triage wg-discuss

[2022-09-01 21:42] tonygilkerson opened #1037 "Need ability to set resource requests and limits for Tekton components"
### Feature request

I would like to set the container `resources` for the components created by the Tekton-Operator, i.e. tekton-dashboard and tekton-pipelines-controller deployments. It would be nice to enable this in the TektonConfig as shown below in the yaml snipit.

[code]

I also need to set the resources for the `tekton-operator-proxy-webhook` and `tekton-triggers-webhook` but I am not sur

[2022-09-02 12:39] azoulad opened #1038 "Prune resource by pipeline"
### Feature request

Add a way to configure tekton resource prunner to prune resource by pipeline and not globaly.

### Use case

Hi,
I'm using tekton operator on openshift and i recently find out the possibility to configure a pruner.
By default tekton resources specified in **TektonConfig** will be prune using this tekton config and with one global **CronJob** in tekton operator namespace.

We h

[2022-09-04 01:36] #651 closed

[2022-09-07 05:48] vdemeester commented on #831
/remove-lifecycle stale

[2022-09-08 04:59] fgiloux commented on #676
/remove-lifecycle stale

[2022-09-08 12:08] piyush-garg commented on #1038
This seems a very valid use case. We need to think.design about how we approach. cc @pradeepitm12

[2022-09-08 12:15] piyush-garg commented on #1037
@tonygilkerson Thanks for this.

The feature requests seems reasonable, we need to design the api a bit. Do we need something specific for each component or a generic for all component will also work.

[2022-09-08 12:15] piyush-garg commented on #1036
@oldthreefeng Is this happening for pod created by taskrun/piplinerun? Or is it happening something at operator level.

[2022-09-08 12:41] Aldiuser opened #1047 "Field `keep-since` does not match described behavior"
# Expected Behavior

According to the documentation completed resources older than n minutes should be kept and all others should be deleted.

# Actual Behavior

Resources that are completed at most n minutes are kept and all others are deleted.

# Additional Info

- Tekton Pipeline version: v0.33.2

I would like to suggest to rename the field from `keep-since` to `keep-until` or something similar

[2022-09-10 07:37] #590 closed

[2022-09-10 10:37] #591 closed

[2022-09-11 19:46] solacelost commented on #1031
I would appreciate it if the release steps included upgrading the helm chart to prepare for the release as well, or if the helm chart were moved to another repository and/or versioned more carefully. At the moment, PRs like [this one](https://github.com/tektoncd/operator/pull/1019) come in after a [tag](https://github.com/tektoncd/operator/blob/v0.61.0/chart/Chart.yaml). Since I can't find a docum

[2022-09-12 07:46] ibotty commented on #774
/remove-lifecycle stale
/lifecycle frozen
This is still valid.  Is the image published somewhere?  If so I can send a pull request without any problems.